{% extends "accounting/base.html" %}

{% block content %}
<h2>Account summary for {{ account.name }}</h2>

<table class="tabledetails">
    <tr>
        <th>Balance</th>
        <td>{{ account.balance|stringformat:"0.2f" }}</td>
    </tr>

    <tr>
        <th>Group</th>
        <td><a href="{% url group-summary account.group.slug %}">{{ account.group.name }}</a></td>
    </tr>

    <tr>
    {% if account.owner %}
        <th>Owner</th>
        <td>
            <a href="mailto:{{ account.owner.email }}">{{ account.owner.username }}</a>
        </td>
    {% else %}
        <th>Type</th>
        <td>{{ account.get_type_display }}</td>
    {% endif %}
    </tr>

    <tr>
        <th>Active</th>
        <td>{{ account.active|yesno:"Yes,No" }}</td>
    </tr>
</table>

{% include "accounting/transaction_list.html" %}

{% endblock %}
