{% extends "accounting/base.html" %}

{% block content %}
<h2>My Account</h2>

<p>Your account balance is {{ account.balance|stringformat:"0.2f" }}.</p>

{% if transaction_list %}

{% if is_paginated %}
<p>
    {% if has_previous %}
    <a href="{% url account-summary account.group.slug,account.id,previous %}">&lt;&lt; Previous</a> |
    {% endif %}
    {{ hits }} hits
    {% if has_next %}
    | <a href="{% url account-summary account.group.slug,account.id,next %}">Next &gt;&gt;</a>
    {% endif %}
</p>
{% endif %}

<table class="tablelist">
    <tr>
        <th>Registered</th>
        <th>Payed</th>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Details</th>
    </tr>
    {% for t in transaction_list %}
    <tr{% if not t.payed %} class="pending"{% endif %}>
        <td>{{ t.registered|date:"Y-m-d" }}</td>
        {% if t.payed %}
        <td>{{ t.payed|date:"Y-m-d" }}</td>
        {% else %}
        <td><em>Pending</em></td>
        {% endif %}
        {% if t.from_account %}
        <td>{{ t.from_account.name }}</td>
        {% else %}
        <td><em>Deposit</em></td>
        {% endif %}
        {% if t.to_account %}
        <td>{{ t.to_account.name }}</td>
        {% else %}
        <td><em>Withdrawal</em></td>
        {% endif %}
        <td class="align_right">{{ t.amount|stringformat:"0.2f" }}</td>
        <td>{{ t.details }}</td>
    </tr>
    {% endfor %}
</table>

{% if is_paginated %}
<p>
    {% if has_previous %}
    <a href="{% url account-summary account.group.slug,account.id,previous %}">&lt;&lt; Previous</a> |
    {% endif %}
    {{ hits }} hits
    {% if has_next %}
    | <a href="{% url account-summary account.group.slug,account.id,next %}">Next &gt;&gt;</a>
    {% endif %}
</p>
{% endif %}

{% else %}
<p>No transactions found.</p>
{% endif %}

{% endblock %}
