{% extends "accounting/base.html" %}

{% block content %}
<h2>My Account</h2>

<h3>Recent transactions</h3>

{% if transactions %}
<table class="tablelist">
    <tr>
        <th>Registered</th>
        <th>Payed</th>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Details</th>
    </tr>
    {% for t in transactions %}
    <tr>
        <td>{{ t.registered|date:"Y-m-d" }}</td>
        {% if t.payed %}
        <td>{{ t.payed|date:"Y-m-d" }}</td>
        {% else %}
        <td><em>Pending</em></td>
        {% endif %}
        {% if t.from_account %}
        <td>{{ t.from_account.name }}</td>
        {% else %}
        <td><em>Deposit</em></td>
        {% endif %}
        {% if t.to_account %}
        <td>{{ t.to_account.name }}</td>
        {% else %}
        <td><em>Withdrawal</em></td>
        {% endif %}
        <td class="align_right">{{ t.amount|stringformat:"0.2f" }}</td>
        <td>{{ t.details }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No transactions found.</p>
{% endif %}

{% endblock %}
