{% load i18n %}

<li><a href="{% url transaction-list-account group.slug,account.slug %}">
    {% trans "View transactions" %}</a></li>

{% if is_owner %}
    <li><a href="{% url account-deposit group.slug,account.slug %}">
        {% trans "New deposit" %}</a></li>
    <li><a href="{% url account-withdraw group.slug,account.slug %}">
        {% trans "New withdrawal" %}</a></li>
    <li><a href="{% url account-transfer group.slug,account.slug %}">
        {% trans "New transfer" %}</a></li>
{% endif %}
