{% extends "accounting/base.html" %}
{% load i18n %}


{% block content %}

<div id="accountinfo">
<h3>{% trans "Account info" %}</h3>
<table class="tabledetails">
    <tr>
        <th>{% trans "Name" %}</th>
        <td>{{ account.name }}</td>
    </tr>
    <tr>
        <th>{% trans "Short name" %}</th>
        <td>{{ account.short_name|default:"-" }}</td>
    </tr>

    <tr>
    {% if account.owner %}
        <th>{% trans "Owner" %}</th>
        <td>
            {% if account.owner.email %}
                <a href="mailto:{{ account.owner.email }}">
                    {{ account.owner.username }}</a>
            {% else %}
                {{ account.owner.username }}
            {% endif %}
        </td>
    {% else %}
        <th>{% trans "Type" %}</th>
        <td>{{ account.get_type_display }}</td>
    {% endif %}
    </tr>

    <tr>
        <th>{% trans "Balance" %}</th>
        <td>{{ account.balance|floatformat:2 }}</td>
    </tr>

    <tr>
        <th>{% trans "Active" %}</th>
        <td>{{ account.active|yesno:_("Yes,No") }}</td>
    </tr>
</table>
</div>

<div id="groupinfo">
<h3>{% trans "Group info" %}</h3>
<table class="tabledetails">
    <tr>
        <th>{% trans "Name" %}</th>
            <td>
                <a href="{% url group-summary group.slug %}">{{ group.name }}</a>
            </td>
    </tr>

    <tr>
        <th>{% trans "Warning limit" %}</th>
        {% if group.warn_limit %}
            <td>{{ group.warn_limit|floatformat:2 }}</td>
        {% else %}
            <td>{{ group.warn_limit|default_if_none:_("None") }}</td>
        {% endif %}
    </tr>
    <tr>
        <th>{% trans "Blocking limit" %}</th>
        {% if group.block_limit %}
            <td>{{ group.block_limit|floatformat:2 }}</td>
        {% else %}
            <td>{{ group.block_limit|default_if_none:_("None") }}</td>
        {% endif %}
    </tr>
</table>
</div>

{% if is_owner or is_admin %}
<div id="actions">
<h3>{% trans "Actions" %}</h3>
<ul>
{% include "common/account_action.html" %}
{% if is_admin %}
    <li class="admin"><a href="{% url edit-account group.slug,account.slug %}">
        {% trans "Edit account" %}</a></li>
{% endif %}
</ul>
</div>
{% endif %}

{% if is_owner %}
<div id="lists">
<h3>{% trans "Lists" %}</h3>
<ul>
{% if group.list_set.count %}
    {% for list in group.list_set.all %}
    <li><a href="{% url view-list group.slug,list.slug %}">
        {{ list.name }}</a></li>
    {% endfor %}
{% else %}
    {% if is_admin %}
        <li class="admin"><a href="{% url new-list group.slug %}">
            {% trans "No lists found" %}</a></li>
    {% else %}
        <li>{% trans "No lists found" %}</li>
    {% endif %}
</ul>
{% endif %}
</div>
{% endif %}


{% if not account.active %}
    {% if is_owner or is_admin %}
        <div id="activate">
            <h3>{% trans "Activate account" %}</h3>
            <form method="post" action="{% url activate-account group.slug,account.slug %}">
                <button type="submit">{% trans "Activate account" %}</button>
            </form>
        </div>
    {% endif %}
{% endif %}

{% endblock %}
