{% extends "accounting/base.html" %}
{% load i18n %}
{% load ufs %}

{% block content %}

<div id="groupinfo">
<h3>{% trans "Group info" %}</h3>
<table class="tabledetails">
    <tr>
        <th>{% trans "Name" %}</th>
        <td>{{ group.name }}</td>
    </tr>

    <tr>
        <th>{% trans "Warning limit" %}</th>
        {% if group.warn_limit %}
            <td>{{ group.warn_limit|stringformat:"0.2f" }}</td>
        {% else %}
            <td>{{ group.warn_limit|default_if_none:_("None") }}</td>
        {% endif %}
    </tr>

    <tr>
        <th>{% trans "Blocking limit" %}</th>
        {% if group.warn_limit %}
            <td>{{ group.block_limit|stringformat:"0.2f" }}</td>
        {% else %}
            <td>{{ group.block_limit|default_if_none:_("None") }}</td>
        {% endif %}
    </tr>

    {% if group.account_number %}
        <tr>
            <th>{% trans "Account number" %}</th>
            <td>{{ group.get_account_number_display }}</td>
        </tr>
    {% endif %}
</table>
</div>

{% if is_admin %}
<div id="actions">
<h3>{% trans "Actions" %}</h3>
<ul>
{% include "common/group_action.html" %}
{% if is_admin %}
<li class="admin"><a href="{% url "new-settlement" group.slug %}">
     {% trans "New settlement" %}</a></li>
<li class="admin"><a href="{% url "edit-group" group.slug %}">
    {% trans "Edit group" %}</a></li>
<li class="admin"><a href="{% url "new-account" group.slug %}">
     {% trans "New account" %}</a></li>
<li class="admin"><a href="{% url "assign-role-accounts" group.slug %}">
    {% trans "Assign role accounts" %}</a></li>
{% endif %}
</ul>
</div>
{% endif %}

<div id="statements">
<h3>{% trans "Statements" %}</h3>
<ul>
    <li><a href="{% url "balance" group.slug %}">{% trans "Balance statement" %}</a></li>
    <li><a href="{% url "income" group.slug %}">{% trans "Income statement" %}</a></li>
</ul>
</div>

<div id="lists">
<h3>{% trans "Lists" %}</h3>
<ul>
    {% for list in group.list_set.all %}
    <li>
        <a href="{% url "view-list" group.slug list.slug %}">{{ list.name }}</a>
        {% if is_admin %}
            <ul class="admin">
                <li><a href="{% url "transaction-from-list" group.slug list.slug %}">{{ _("Create transaction") }}</a></li>
                <li><a href="{% url "edit-list" group.slug list.slug %}">{{ _("Edit list") }}</a></li>
                <li><a href="{% url "delete-list" group.slug list.slug %}">{{ _("Delete list") }}</a></li>
            </ul>
        {% endif %}
    </li>
    {% endfor %}
    {% if is_admin %}
        <li class="admin"><a href="{% url "new-list" group.slug %}">
             {% trans "New list" %}</a></li>
    {% endif %}
</ul>
</div>

{% if is_admin %}
<div id="bills">
<h3>{% trans "Bill" %}</h3>
<ul>
<li class="admin"><a href="{% url "bill-list" group.slug %}">
     {% trans "View bills" %}</a></li>
<li class="admin"><a href="{% url "bill-new" group.slug %}">
     {% trans "New Bill" %}</a></li>
</ul>
</div>
{% endif %}

<div id="graphs">
    <h3>{% trans "Graphs" %}</h3>
    <a href="{% url "group-balance-graph" group.slug %}">{% trans "Group balance" %}</a>
</div>

<div id="accounts">
{% if not group.account_set.count %}
<h3>{% trans "Accounts" %}</h3>
<p>{% trans "No accounts found." %}</p>
{% else %}

<h3>{% trans "Accounts" %}</h3>

<div class="float_left">
<table class="tablelist">
    <caption>{% trans "User accounts" %}</caption>
    <tr>
        <th colspan="2">{% trans "Account" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Balance" %}</th>
    </tr>
{% with group.user_account_set as user_accounts %}
    {% ufs_sort user_accounts %}
    {% for account in user_accounts %}
        {% if all or account.active %}
        <tr class="{% cycle evenrow,oddrow %}{% if not account.active %} inactive{% endif %}">
            <td{% if not account.short_name %} colspan="2"{% endif %}>
            {% if is_admin %}
            <a href="{% url "account-summary" group.slug account.slug %}">{{ account.name }}</a>
            {% else %}
            {{ account.name }}
            {% endif %}
            </td>
            {% if account.short_name %}<td>{{ account.short_name|default:"-" }}</td>{% endif %}
            <td>{{ account.get_type_display }}</td>
            <td class="align_right{% if account.is_blocked %} blocked{% endif %}">{{ account.normal_balance|stringformat:"0.2f" }}</td>
        </tr>
        {% endif %}
    {% endfor %}
{% endwith %}
</table>

</div>

<div class="float_left">
<table class="tablelist">
    <caption>{% trans "Group accounts" %}</caption>
    <tr>
        <th colspan="2">{% trans "Account" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Balance" %}</th>
    </tr>
{% with group.group_account_set as group_accounts %}
    {% ufs_sort group_accounts %}
    {% for account in group_accounts %}
        {% if all or account.active %}
        {% if all or account.normal_balance %}
        {# Django's if construct in templates is somewhat lacking, ugly work around for "complex" logic #}
        <tr class="{% cycle evenrow,oddrow %}{% if not account.active %} inactive{% endif %}">
            <td{% if not account.short_name %} colspan="2"{% endif %}>
            {% if is_admin %}
            <a href="{% url "account-summary" group.slug account.slug %}">{{ account.name }}</a>
            {% else %}
            {{ account.name }}
            {% endif %}
            </td>
            {% if account.short_name %}<td>{{ account.short_name|default:"-" }}</td>{% endif %}
            <td>{{ account.get_type_display }}</td>
            <td class="align_right">{{ account.normal_balance|stringformat:"0.2f" }}</td>
        </tr>
        {% endif %}
        {% endif %}
    {% endfor %}
{% endwith %}
</table>
</div>

<p class="clear">
{% if all %}
    <a href=".">{% trans "Hide inactive/empty accounts" %}</a>
{% else %}
    <a href="?all">{% trans "Show all accounts" %}</a>
{% endif %}
</p>

{% endif %}
</div>


{% endblock %}
