{% extends "base.html" %}
{% load i18n %}


{% block title %}
    Help
    - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    &raquo; <a href="{% url help group.slug %}">Help</a>
{% endblock %}


{% block header %}{% trans "Help" %}{% endblock %}


{% block content %}

<ul>
    <li><a href="#transaction-state">{% trans "What do the transaction state terms mean?" %}</a></li>
    <li><a href="#tech-contact">{% trans "Who do I contact about technical errors in &micro;FS?" %}</a></li>
</ul>

<h3 id="transaction-state">{% trans "What do the transaction state terms mean?" %}</h3>

<dl>
    <dt>{% trans "Pending" %}</dt>
    <dd>
        {% blocktrans %}The transaction has been registered as a valid
        transaction with correct debit and credit entries, in this state no
        accounts have been affected.{% endblocktrans %}
    </dd>

    <dt>{% trans "Committed" %}</dt>
    <dd>
        {% blocktrans %}The transaction is complete and the balance of the
        accounts has been updated{% endblocktrans %}
    </dd>
    <dt>{% trans "Rejected" %}</dt>
    <dd>
        {% blocktrans %}The transaction has been rejected by the admin, please
        see the transaction details for a reason.{% endblocktrans %}
    </dd>

</dl>

<h3 id="tech-contact">{% trans "Who do I contact about technical errors in &micro;FS?" %}</h3>

<p>{% blocktrans %}Please contact the &micro;FS developers at <a
href="mailto:itk-ufs@samfundet.no"> itk-ufs@samfundet.no</a> if you experience
any technical errors. Please include a description of what you did, what you
expected and what actually happened, including any error messages you may have
gotten.{% endblocktrans %}</p>

{% endblock %}
