Amund Hov <amundhov@samfundet.no> <amundhov@cassarossa.samfundet.no>
Espen Molven <molven@samfundet.no> <molven@cassarossa>
Kristian Klette <klette@samfundet.no> <klette@otovo.com>
Stein Magnus Jodal <jodal@samfundet.no> <jodal@eta>
Stein Magnus Jodal <jodal@samfundet.no> <stein.magnus@jodal.no>
Thomas Adamcik <adamcik@samfundet.no> <adamcik@loki>
Thomas Adamcik <adamcik@samfundet.no> <thomas@adamcik.no>
