### Runtime dependencies

-r requirements.txt


### Development dependencies

# Debug toolbar
django-debug-toolbar < 1.10  # 1.10 requires Django 1.11

# Code linting
flake8

# Test runner
pytest
pytest-cov
pytest-django
tox
