{% extends "billing/base.html" %}
{% load i18n %}
{% load ufs %}

{% block header %}
    {% trans "Bill" %} #{{ bill.pk }}
{% endblock %}

{% block content %}

<table class="tabledetails float_left">
  <tr>
    <th>{% trans "Created" %}</th>
    <td style="width: 15em">{{ bill.created|date }} {{ bill.created|time }}</td>
  </tr>
  <tr>
    <th>{% trans "Transaction" %}</th>
    <td>
      {% if bill.transaction_id %}
        <a href="{% url transaction-details group.slug,bill.transaction_id %}">
          {% trans "Transaction" %} #{{ bill.transaction_id }}
        </a>
      {% else %}
        &nbsp;&ndash;
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>{% trans "Status" %}</th>
    <td class="{{ bill.css_class }}">{{ bill.status }}</td>
  </tr>
  <tr>
    <th>{% trans "Description" %}</th>
    <td>{{ bill.description|linebreaksbr }}</td>
  </tr>
  <tr>
    <th>{% trans "Action" %}</th>
    <td>
      <ul>
        <li class="admin">
          <a href="{% url bill-pdf group.slug,bill.id %}">{% trans "Download PDF" %}</a>
        </li>
        {% if bill.is_editable %}
          <li class="admin">
            <a href="{% url bill-edit group.slug,bill.id %}">{% trans "Edit bill" %}</a>
          </li>
          <li class="admin">
            <a href="{% url bill-pay group.slug,bill.id %}">{% trans "Create transaction" %}</a>
          </li>
        {% endif %}
        <li class="admin">
          <a href="{% url bill-delete group.slug,bill.id %}">{% trans "Delete bill" %}</a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table class="tablelist float_left">
    <tr>
        <th style="width: 12em">{% trans "Description" %}</th>
        <th style="width: 4em">{% trans "Amount" %}</th>
    </tr>
    {% for line in bill.billingline_set.all %}
        <tr class="{% cycle evenrow,oddrow %}">
            <td>{{ line.description }}</td>
            <td align="right">{{ line.amount|creditformat }}</td>
        </tr>
    {% endfor %}
</table>


{% endblock %}
