# This is an absolute minimal itkufs.settings.local module.
# You may use it for development as is.

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'itkufs.sqlite',
        'USER': '',
        'PASSWORD': '',
        'HOST': ''
    }
}

SECRET_KEY = '123changemetosomethingmorerandom456789'
SESSION_COOKIE_SECURE = False
