{% extends "accounting/base.html" %}

{% block content %}
<h2>Approve transactions in {{ group.name }}</h2>

{% if not transaction_list %}
<p>No transactions found.</p>
{% else %}

{% if is_paginated %}
<p>
    {% if has_previous %}
    <a href="{% url approve-transactions-page group.slug,previous %}">&laquo; Previous</a> |
    {% endif %}
    {{ hits }} hits
    {% if has_next %}
    | <a href="{% url approve-transactions-page group.slug,next %}">Next &raquo;</a>
    {% endif %}
</p>
{% endif %}

<form action="{% url approve-transactions group.slug %}" method="post">
<table class="tablelist" id="accounting_approve_transactions">
    <tr>
        <th>Registered</th>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Details</th>
	<th>Approve</th>
    </tr>
    {% for t in transaction_list %}
    <tr>
        <td>{{ t.registered|date:"Y-m-d" }}</td>
        <td>
		From <a href="{% url account-summary t.credit_account.group.slug,t.credit_account.slug %}">{{ t.credit_account.name }}</a>
        </td>
        <td>
		To <a href="{% url account-summary t.debit_account.group.slug,t.debit_account.slug %}">{{ t.debit_account.name }}</a>
        </td>

        <td class="align_right">{{ t.amount|stringformat:"0.2f" }}</td>

        <td>
            {% if t.settlement %}
            {{ t.settlement.date|date:"Y-m-d" }}
            {% endif %}
            {{ t.details|striptags|linebreaksbr }}
        </td>
	<td class="align_center">
	    <input type="checkbox" name="transcation_id_{{ t.id }}"/>
	</td>
    </tr>
    {% endfor %}
</table>
<button>Approve</button>
</form>

{% if is_paginated %}
<p>
    {% if has_previous %}
    <a href="{% url approve-transactions-page group.slug,previous %}">&laquo; Previous</a> |
    {% endif %}
    {{ hits }} hits
    {% if has_next %}
    | <a href="{% url approve-transactions-page group.slug,next %}">Next &raquo;</a>
    {% endif %}
</p>
{% endif %}

{% endif %}

{% endblock %}
