{% extends "accounting/base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Approve transactions" %}</h2>

{% if not transaction_list %}
<p>{% trans "No pending transactions found." %}</p>
{% else %}

{% if is_paginated %}
<p>
    {% if has_previous %}
    <a href="{% url approve-transactions-page group.slug,previous %}">&laquo; {% trans "Previous" %}</a> |
    {% endif %}
    {% blocktrans %}{{ hits }} hits{% endblocktrans %}
    {% if has_next %}
    | <a href="{% url approve-transactions-page group.slug,next %}">{% trans "Next" %} &raquo;</a>
    {% endif %}
</p>
{% endif %}

<form action="{% url approve-transactions group.slug %}" method="post" class="togglecheckboxes" id="accounting_approve_transactions">
<table class="tablelist">
    <tr>
        <th>{% trans "Registered" %}</th>
        <th>{% trans "Debit account" %}</th>
        <th>{% trans "Credit account" %}</th>
        <th>{% trans "Amount" %}</th>
        <th>{% trans "Details" %}</th>
	<th>{% trans "Approve" %}</th>
    </tr>
    {% for t in transaction_list %}
    <tr class="{% cycle evenrow,oddrow %}">
        <td>{{ t.registered|date:"Y-m-d" }}</td>
        <td>
		<a href="{% url account-summary t.debit_account.group.slug,t.debit_account.slug %}">{{ t.debit_account.name }}</a>,
                {{ t.debit_account.group.name }}
        </td>
        <td>
		<a href="{% url account-summary t.debit_account.group.slug,t.debit_account.slug %}">{{ t.debit_account.name }}</a>,
                {{ t.debit_account.group.name }}
        </td>

        <td class="align_right">{{ t.amount|stringformat:"0.2f" }}</td>

        <td>
            {% if t.settlement %}
            {{ t.settlement.date|date:"Y-m-d" }}
            {% endif %}
            {{ t.details|striptags|linebreaksbr }}
        </td>
	<td class="align_center">
	    <input type="checkbox" name="transcation_id_{{ t.id }}"/>
	</td>
    </tr>
    {% endfor %}
</table>

<p>
    <button name="approve" type="submit">{% trans "Approve" %}</button>
<!--<button name="reject" type="submit">{% trans "Reject" %}</button>-->
</p>
</form>

{% if is_paginated %}
<p>
    {% if has_previous %}
    <a href="{% url approve-transactions-page group.slug,previous %}">&laquo; {% trans "Previous" %}</a> |
    {% endif %}
    {% blocktrans %}{{ hits }} hits{% endblocktrans %}
    {% if has_next %}
    | <a href="{% url approve-transactions-page group.slug,next %}">{% trans "Next" %} &raquo;</a>
    {% endif %}
</p>
{% endif %}

{% endif %}

{% endblock %}
