{% extends "accounting/base.html" %}
{% load i18n %}


{% block title %}
    {% trans "Approve transactions" %}
    - {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    &raquo; <a href="{% url approve-transactions group.slug %}">
        Approve transactions</a>
    {% if is_paginated %}
        &raquo; {% trans "Page" %} {{ page }} {% trans "of" %} {{ pages }}
    {% endif %}
{% endblock %}


{% block header %}
    {{ block.super }}
    &ndash; {% trans "Approve transactions" %}
{% endblock %}


{% block content %}
{% if not transaction_list %}
<p>{% trans "No pending transactions found." %}</p>
{% else %}

<form action="{% url approve-transactions group.slug %}" method="post" id="accounting_approve_transactions">

<div id="transactions">

{% if not transaction_list %}
<p>{% trans "No transactions found." %}</p>
{% else %}

{% include "accounting/transaction_list_menu.html" %}

<table class="tablelist">
    <tr>
            <th>{% trans "State" %}</th>
            <th>{% trans "Account" %}</th>
            <th>{% trans "Debit" %}</th>
            <th>{% trans "Credit" %}</th>
            <th>{% trans "Details" %}</th>
            <th>{% trans "Change to" %}</th>

    </tr>
    {% for t, f in transaction_list %}
    <tr class="{% cycle 'evenrow' 'oddrow' as trclass %}
        {% if t.is_rejected %}rejected{% else %}
        {% if not t.is_received %}pending{% endif %}{% endif %}">
        <td rowspan="{{ t.entry_set.all.count }}" class="state">
            <dl>
                {% if t.is_pending %}
                <dt>{% trans "Pending" %}:</dt>
                <dd>{{ t.pending.timestamp|date:"Y-m-d H:i" }}</dd>
                {% endif %}
                {% if t.is_committed %}
                <dt>{% trans "Committed" %}:</dt>
                <dd>{{ t.committed.timestamp|date:"Y-m-d H:i" }}</dd>
                {% endif %}
                {% if t.is_rejected %}
                <dt>{% trans "Rejected" %}:</dt>
                <dd>{{ t.rejected.timestamp|date:"Y-m-d H:i" }}</dd>
                {% endif %}
            </dl>
        </td>
        {% for e in t.entry_set.all %}
        <td class="account">
            <a href="{% url account-summary e.account.group.slug,e.account.slug %}">{{ e.account.name }}</a>
        </td>
        <td class="align_right debit">
            {% if e.debit %}
            {{e.debit|stringformat:"0.2f"}}
            {% endif %}
        </td>
        <td class="align_right credit">
            {% if e.credit %}
            {{e.credit|stringformat:"0.2f"}}
            {% endif %}
        </td>
        {% if forloop.first %}
        <td rowspan="{{ t.entry_set.all.count }}" class="details">
            <dl>
                <dt>{{ t.pending.user|default:"Unknown" }}: </dt>
                <dd class="registered">{{ t.pending.message|default:"(None)" }}</dd>
                {% if t.rejected %}
                <dt>{{ t.rejected.user|default:"Unknown" }}: </dt>
                <dd class="rejected">{{ t.rejected.message|default:"(None)" }}</dd>
                {% endif %}
            </dl>
        </td>
        <td rowspan="{{ t.entry_set.all.count }}" class="details">
            {{ f.as_p }}
        </td>
        {% endif %}
    </tr>
    <tr class="{{ trclass }}
        {% if t.is_rejected %}rejected{% else %}
        {% if not t.is_received %}pending{% endif %}{% endif %}">
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% include "accounting/transaction_list_menu.html" %}

{% endif %}

</div>

<p>
    <button type="submit">{% trans "Update" %}</button>
</p>
</form>

{% endif %}

{% endblock %}
