{% extends "accounting/base.html" %}

{% block content %}
<h2>Balance for {{ group.name }}</h2>
<p>FIXME: Insert datetime here</p>
<p>FIXME: Complete balance sheet below</p>

<table class="tablelist">
    <tr><th colspan="2">Assets</th></tr>
    <tr><td>Bank</td><td>1000</td></tr>
    <tr><td><em>Total assets</em></th><td><em>1000</em></td></tr>
    <tr><th colspan="2">Liabilities and equities</th></tr>
    <tr><th colspan="2">&nbsp;&nbsp;Liabilities</th></tr>
    <tr><td><em>&nbsp;&nbsp;Total liabilities</em></th><td><em>0</em></td></tr>
    <tr><th colspan="2">&nbsp;&nbsp;Equities</th></tr>
    <tr><td><em>&nbsp;&nbsp;Net worth</em></th><td><em>1000</em></td></tr>
    <tr><td><em>Total liabilites and equities</em></th><td><em>1000</em></td></tr>
</table>

{% endblock %}
