{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ request.session.my_account.group.name }}{% endblock %}
{% block header %}{{ request.session.my_account.group.name }}{% endblock %}

{% block menu %}
<ul id="menulist">
    <li><a href="{% url account-summary request.session.my_account.group.slug,request.session.my_account.slug %}">{% trans "My account" %}</a>
    	{% ifnotequal request.user.account_set.count 0 %}
    	{% ifnotequal request.user.account_set.count 1 %}
	<ul>
	{% for account in request.user.account_set.all %}
		<li><a href="{% url account-summary account.group.slug,account.slug %}">{{ account.group.name }}</a></li>
	{% endfor %}
	</ul>
	{% endifnotequal %}
	{% endifnotequal %}
    </li>
{% if is_admin %}
    <li class="admin">
      <a href="{% url group-summary request.session.my_account.group.slug %}">
        {% trans "Admin" %}{% if group.has_pending_transactions %}*{% endif %}
      </a>
    </li>
{% endif %}
    <li id="help"><a href="{% url help request.session.my_account.group.slug %}">{% trans "Help" %}</a></li>
</ul>
{% endblock %}
