{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if account %}
        {{ account.name }} -
    {% endif %}
    {{ group.name }} - {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    {{ block.super }} &raquo; {% trans "Accounting" %} &raquo;
    {% if account %}
        <a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
        &raquo;
        <a href="{{ account.get_absolute_url }}">{{ account.name }}</a>
    {% else %}
        <a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
    {% endif %}
{% endblock %}


{% block header %}
    {% if account %}
        &laquo;{{ account.name }}&raquo;
    {% else %}
        &laquo;{{ group.name }}&raquo;
    {% endif %}
{% endblock %}


{% block submenu %}
    <h3>&laquo;{{ group.name }}&raquo;</h3>

    <ul class="menulist">
        <li><a href="{{ group.get_absolute_url }}">
            {% trans "Summary" %}</a></li>
        {% include "common/group_action.html" %}
    </ul>

    {% if account %}
        <h3>&laquo;{{ account.name }}&raquo;</h3>

        <ul class="menulist">
            <li><a href="{{ account.get_absolute_url }}">
                {% trans "Summary" %}</a></li>
            {% include "common/account_action.html" %}
        </ul>
    {% endif %}
{% endblock %}


{% block helptips %}

<h3>{% trans "Help" %}</h3>

<p>{% blocktrans %}<em>Balance</em> is always seen from the perspective of the
group. If the user account balance is positive, it is a liability to the group.
If the user account balance is negative, it is an asset and the
user owes money to the group.{% endblocktrans %}</p>

{% endblock %}
