{% extends "base.html" %}

{% block title %}{{ request.session.my_account.group.name }}{% endblock %}
{% block header %}{{ request.session.my_account.group.name }}{% endblock %}

{% block menu %}
<ul id="menulist">
    <li><a href="{% url account-summary request.session.my_account.group.slug,request.session.my_account.slug %}">My account</a>
        <ul>
            <li><a href="{% url account-deposit request.session.my_account.group.slug,request.session.my_account.slug %}">Deposit</a></li>
            <li><a href="{% url account-withdraw request.session.my_account.group.slug,request.session.my_account.slug %}">Withdraw</a></li>
            <li><a href="{% url account-transfer request.session.my_account.group.slug,request.session.my_account.slug %}">Transfer</a></li>
        </ul>
    </li>
    <li><a href="{% url group-summary request.session.my_account.group.slug %}">My group</a></li>
{% if is_admin %}
    <li class="admin"><a href="#">Transactions</a>
        <ul>
            <li><a href="#">Settlement</a></li>
            <li><a href="#">Approve</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </li>
    <li class="admin"><a href="#">Statements</a>
        <ul>
            <li><a href="{% url balance request.session.my_account.group.slug %}">Balance</a></li>
            <li><a href="#">Income</a></li>
        </ul>
    </li>
{% endif %}
</ul>
{% endblock %}
