{% extends "accounting/base.html" %}
{% load i18n %}

{% block content %}

<div id="tabs">
<ul>
    <li><a href="{% url group-summary group.slug %}" class="active">Summary</a></li>
    <li><a href="{% url transaction-list-group group.slug %}">Transactions</a></li>
    <li><a href="{% url edit-group group.slug %}">Edit group</a></li>
    <li><a href="{% url new-account group.slug %}">Add account</a></li>
    <li><a href="{% url new-list group.slug %}">Add list</a></li>
</ul>
</div>

<div id="groupinfo">
<h3>{% trans "Group info" %}</h3>
<table class="tabledetails">
    <tr>
        <th>{% trans "Warning limit" %}</th>
        {% if group.warn_limit %}
        <td>{{ group.warn_limit|stringformat:"0.2f" }}</td>
        {% else %}
        <td>{{ group.warn_limit }}</td>
        {% endif %}
    </tr>
    <tr>
        <th>{% trans "Blocking limit" %}</th>
        {% if group.block_limit %}
        <td>{{ group.block_limit|stringformat:"0.2f" }}</td>
        {% else %}
        <td>{{ group.block_limit }}</td>
        {% endif %}
    </tr>
</table>
</div>

<div id="transaction_actions">
<h3>{% trans "Transactions" %}</h3>
   <ul>
      <li><a href="{% url approve-transactions group.slug %}">{% trans "Approve transactions" %}{% if group.not_payed_transaction_set.count %}*{% endif %}</a></li>
      <li><a href="{% url register-transactions group.slug %}">{% trans "Register transaction" %}</a></li>
   </ul>
</div>

<div id="statements">
<h3>{% trans "Statements" %}</h3>
   <ul>
      <li><a href="{% url balance group.slug %}">{% trans "Balance statement" %}</a></li>
      <li><a href="{% url income group.slug %}">{% trans "Income statement" %}</a></li>
   </ul>
</div>

<div id="lists">
<h3>{% trans "Lists" %}
</h3>
<ul>
    {% for list in group.list_set.all %}
    <li>
      <a href="{% url view-list group.slug,list.slug %}">{{ list.name }}</a>
    </li>
    {% endfor %}
</ul>
</div>

{% if is_admin %}

<div id="accounts">
{% if not group.account_set.count %}
<h3>{% trans "Accounts" %}</h3>
<p>{% trans "No accounts found." %}</p>
{% else %}

<h3>{% trans "Accounts" %}</h3>

<div class="coltwo">
<table class="tablelist">
    <caption>{% trans "User accounts" %}</caption>
    <tr>
        <th>{% trans "Account" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Balance" %}</th>
    </tr>
{% for account in group.user_account_set %}
    <tr class="{% cycle evenrow,oddrow %}{% if not account.active %} disabled{% endif %}">
        <td><a href="{% url account-summary account.group.slug,account.slug %}">{{ account.name }}</a></td>
        <td>{{ account.get_type_display }}</td>
        <td class="align_right{% if account.is_blocked %} blocked{% endif %}">{{ account.balance|stringformat:"0.2f" }}</td>
    </tr>
{% endfor %}
</table>

<p class="comment">{% trans "Please note, a negative balance in a liabilty account tells that the owner has money to spend, while a positive balance means it is time for a deposit." %}</p>

</div>
<div class="coltwo">
<table class="tablelist">
    <caption>{% trans "Group accounts" %}</caption>
    <tr>
        <th>{% trans "Account" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Balance" %}</th>
    </tr>
{% for account in group.group_account_set %}
    <tr class="{% cycle evenrow,oddrow %}{% if not account.active %} disabled{% endif %}">
        <td><a href="{% url account-summary account.group.slug,account.slug %}">{{ account.name }}</a></td>
        <td>{{ account.get_type_display }}</td>
        <td class="align_right{% if account.is_blocked %} blocked{% endif %}">{{ account.balance|stringformat:"0.2f" }}</td>
    </tr>
{% endfor %}
</table>
</div>

{% endif %}
</div>

{% endif %}

{% endblock %}
