{% extends "accounting/base.html" %}
{% load i18n %}

{% block menu %}{% endblock %}

{% block content %}
<h2>{% blocktrans with user.username as username %}Accounts for user &ldquo;{{ username }}&rdquo;{% endblocktrans %}</h2>

{% if not accounts %}
<p>{% trans "You already have a µFS user, but it is not connected to any accounts. Please ask your group administrator to create an account for you and connect the account with your user." %}</p>
{% else %}

<table class="tablelist">
    <tr>
        <th>{% trans "Account" %}</th>
        <th>{% trans "Group" %}</th>
        <th>{% trans "Group admin" %}</th>
    </tr>
    {% for account, is_admin in accounts %}
    <tr>
        <td><a href="{% url account-summary account.group.slug,account.slug %}">{{ account.name }}</a></td>
        <td>{{ account.group.name }}</td>
        <td>{{ is_admin|yesno:_("Yes,No") }}</td>
    </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}
