{% extends "accounting/base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Help" %}</h2>

<ul>
    <li><a href="#tech-contact">{% trans "Who do I contact about technical errors in µFS?" %}</a></li>
</ul>

<h3 id="tech-contact">{% trans "Who do I contact about technical errors in µFS?" %}</h3>

<p>{% trans 'Please contact the µFS developers at <a href="mailto:itk-ufs@samfundet.no">itk-ufs@samfundet.no</a> If you experience any technical errors. Please include a description of what you did, what you expected and what actually happened, including any error messages you may have gotten.' %}</p>

{% endblock %}
