{% extends "accounting/base.html" %}
{% load i18n %}

{% block content %}
<form action="." method="post" id="new_list">
{% if form.name.errors %}
<ul class="errorlist">
   {% for error in form.name.errors %}
	<li>{{ error }}</li>
   {% endfor%}
</ul>
{% endif %}
<p>
    <label>Name:</label> {{ form.name }}
</p>

{% if form.slug.errors %}
<ul class="errorlist">
   {% for error in form.slug.errors %}
	<li>{{ error }}</li>
   {% endfor%}
</ul>
{% endif %}

<p>
    <label>Slug:</label> {{ form.slug }}
</p>

{% if form.account_width.errors %}
<ul class="errorlist">
   {% for error in form.account_width.errors %}
	<li>{{ error }}</li>
   {% endfor%}
</ul>
{% endif %}
<p>
    <label>Account:</label> {{ form.account_width }}
</p>

{% if form.balance_width.errors %}
<ul class="errorlist">
   {% for error in form.balance_width.errors %}
	<li>{{ error }}</li>
   {% endfor%}
</ul>
{% endif %}
<p>
    <label>Balance:</label> {{ form.balance_width }}
    <input type="hidden" name="group" value="{{ group.id }}" />
</p>

<p><label>Columns:</label></p>
<table id="listcolumns" class="tablelist">
    <tr>
        <th>Name</th> <th>Width</th> <th>Order</th>
    </tr>
    {% for column in form.listcolumn %}
    <tr class="{% cycle evenrow,oddrow %}">
    	{{ column.id }}
        <td{% if column.name.errors %} class="error"{% endif %}>{{ column.name }}</td>
        <td{% if column.width.errors %} class="error"{% endif %}>{{ column.width }}</td>
        <td{% if column.order.errors %} class="error"{% endif %}>{{ column.order }}</td>
    </tr>
    {% endfor %}
</table>
<p>
<button type="submit">{% if object.id %}Update list{% else %}Create list{% endif %}</button>
</p>
</form>
{% endblock %}
