{% extends "accounting/base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Reject transaction" %}</h2>

<form method="post" action="{% url reject-transactions group.slug %}">
    <label>Transactions:</label>
    <ul id="rejectionlist">
    {% for t in transactions %}
        <li>{{ t }} <input type="hidden" name="transaction_{{ t.id }}" value="{{ t.id }}" /></li>
    {% endfor %}
    </ul>
   {{ form.as_p }}
   <button type="submit">{% trans "Reject" %}</button>
</form>

{% endblock %}
