{% load i18n %}

{% if is_paginated %}
    <p>
    {% blocktrans %}{{ hits }} hits{% endblocktrans %}
    &ndash;
    {% if page_obj.has_previous %}
        <a href="{% url "settlement-list-page" group.slug page_obj.previous_page_number %}">
        &lt;&lt; {% trans "Previous" %}</a>
        &bull;
    {% endif %}
    {% for i in paginator.page_range %}
        {% ifequal i page_obj.number %}
            {{ i }}
        {% else %}
            <a href="{% url "settlement-list-page" group.slug i %}">
            {{ i }}</a>
        {% endifequal %}
        {% if not forloop.last %}
            &bull;
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        &bull;
        <a href="{% url "settlement-list-page" group.slug page_obj.next_page_number %}">
        {% trans "Next" %} &gt;&gt;</a>
    {% endif %}
    </p>
{% endif %}
