{% extends "accounting/base.html" %}
{% load i18n %}

{% block title %}
    {% if settlement %}
        {% trans "Edit settlement" %}
    {% else %}
        {% trans "New settlement" %}
    {% endif %}
    - {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    {% if settlement %}
        &raquo; <a href="{% url "edit-settlement" group.slug settlement.id %}">
            {% trans "Edit settlement" %}</a>
    {% else %}
        &raquo; <a href="{% url "new-settlement" group.slug %}">
            {% trans "New settlement" %}</a>
    {% endif %}
{% endblock %}


{% block header %}
    {{ block.super }}
    {% if settlement %}
        &ndash; {% trans "Edit settlement" %}
    {% else %}
        &ndash; {% trans "New settlement" %}
    {% endif %}
{% endblock %}


{% block content %}

<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit">{% trans "Save settlement" %}</button></p>
</form>

{% endblock %}
