{% extends "accounting/base.html" %}
{% load i18n %}


{% block title %}
    {% if transaction.id %}
        {% trans "Edit transaction" %}
    {% else %}
        {% trans "New transaction" %}
    {% endif %}
    - {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    &raquo;
    <a href="{% url new-transaction group.slug %}">
        {% if transaction.id %}
            {% trans "Edit transaction" %}
        {% else %}
            {% trans "New transaction" %}
        {% endif %}
    </a>
{% endblock %}


{% block header %}
    {{ block.super }}
    &ndash; {% trans "New transaction" %}
{% endblock %}



{% block content %}

<form action="." method="post" id="newtransaction">
    {% if errors %}
        <ul class="error">
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if transaction.log_set.all %}
    <p><label>Transactionlog:</label></p>
    <dl>
        {% for l in transaction.log_set.all %}
        <dt>{{ l.timestamp|date }} {{ l.timestamp|time }}</dt>
        <dd>
            <em>{{ l.user|default:_("Unknown") }}:</em>
            {{ l.message|default:_("No transaction log message") }}
        </dd>
        {% endfor %}
    </dl>
    {% endif %}

    {{ settlement_form.as_p }}

    <label>{% trans "Account:" %}</label>
    <table class="tablelist">
        <thead>
            <tr>
                <th colspan="2">{% trans "Account" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Balance" %}</th>
                <th>{% trans "Debit" %}</th>
                <th>{% trans "Credit" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for a,f in group_forms %}
            <tr class="{% cycle evenrow,oddrow as rowcolors %}">
                <td{% if not a.short_name %} colspan="2"{% endif %}><a href="{% url account-summary group.slug,a.slug %}">{{ a.name }}</a></td>
                {% if a.short_name %}
                <td>{{ a.short_name|default:"-" }}</td>
                {% endif %}
                <td class="{{a.type}}">{{ a.get_type_display }}</td>
                <td id="balance-{{ a.id }}" class="balance number">{{ a.normal_balance }}</td>
                <td{% if f.debit.errors %} class="error"{% endif %} id="{{ f.auto_id }}">{{ f.debit }}</td>
                <td{% if f.credit.errors %} class="error"{% endif %} id="{{ f.auto_id }}">{{ f.credit }}</td>
            </tr>
        {% endfor %}
        {% for a,f in user_forms %}
            <tr class="{% cycle rowcolors %}">
                <td{% if not a.short_name %} colspan="2"{% endif %}><a href="{% url account-summary group.slug,a.slug %}">{{ a.name }}</a></td>
                {% if a.short_name %}
                <td>{{ a.short_name|default:"-" }}</td>
                {% endif %}
                <td class="{{ a.type }}">{{ a.get_type_display }}</td>
                <td id="balance-{{ a.id }}" class="balance number">{{ a.normal_balance }}</td>
                <td{% if f.debit.errors %} class="error"{% endif %} id="{{ f.auto_id }}">{{ f.debit }}</td>
                <td{% if f.credit.errors %} class="error"{% endif %} id="{{ f.auto_id }}">{{ f.credit }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <button type="submit">{% trans "Save transaction" %}</button>
    </p>
</form>

{% endblock %}
