{% extends "accounting/base.html" %}
{% load i18n %}


{% block title %}
    {% trans "Transactions" %}
    - {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    {% if account %}
        &raquo; <a href="{% url transaction-list-account group.slug,account.slug %}">
            {% trans "Transactions" %}</a>
    {% else %}
        &raquo; <a href="{% url transaction-list-group group.slug %}">
            {% trans "Transactions" %}</a>
    {% endif %}
    {% if is_paginated %}
        &raquo; {% trans "Page" %} {{ page }} {% trans "of" %} {{ pages }}
    {% endif %}
{% endblock %}


{% block header %}
    {{ block.super }}
    &ndash; {% trans "Transactions" %}
{% endblock %}


{% block content %}

{% if not transaction_list %}

<p>{% trans "No transactions found." %}</p>

{% else %}

{% if is_paginated %}
    {% include "accounting/transaction_list_menu.html" %}
{% endif %}

<table class="tablelist">
    <tr>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Account" %}</th>
        <th>{% trans "Debit" %}</th>
        <th>{% trans "Credit" %}</th>
        <th>{% trans "Details" %}</th>
    </tr>
    {% for t in transaction_list %}
    {% with t.entry_count_sql as rowspan %}
    <tr class="{% cycle 'evenrow' 'oddrow' as trclass %}">
        {% for e in t.entry_set.select_related %}
            {% if forloop.first %}
                <td rowspan="{{ rowspan }}" class="status
                    {% if t.is_rejected %}
                        rejected
                    {% else %}
                        {% if t.is_pending %}
                            pending
                        {% else %}
                            committed
                        {% endif %}
                    {% endif %}">
                    {% blocktrans with t.get_state_display as state and t.last_modified|date:"Y-m-d H:i" as last_modified %}
                        <b>{{ state }}</b> at {{ last_modified }}
                    {% endblocktrans %}
                </td>
            {% else %}
                <tr class="{% cycle trclass %}">
            {% endif %}
            <td class="account{% if not e.account.active %} inactive{% endif %}">
                {% if is_admin %}
                    <a href="{% url account-summary e.account.group.slug,e.account.slug%}">{{ e.account.name }}</a>
                {% else %}
                    {{ e.account.name }}
                {% endif %}
            </td>
            <td class="align_right debit">
                {{ e.debit|default:""|stringformat:"0.2f" }}
            </td>
            <td class="align_right credit">
                {{ e.credit|default:""|stringformat:"0.2f" }}
            </td>
            {% if forloop.first %}
                <td rowspan="{{ rowspan }}" class="details">
                    <a href="{{ t.get_absolute_url }}">Details</a>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
    </tr>
    {% endwith %}
    {% endfor %}
</table>

{% include "accounting/transaction_list_menu.html" %}

{% endif %}

{% endblock %}
