{% extends "accounting/base.html" %}
{% load i18n %}


{% block title %}{{ title }} - {{ block.super }}{% endblock %}


{% block breadcrumbs %}
    {{ block.super }} &raquo;
    {% ifnotequal type "register" %}
        {{ title }}
    {% else %}
        {% trans "Register transaction" %}
    {% endifnotequal %}
{% endblock %}


{% block header %}
    {{ block.super }} &ndash;
    {% ifnotequal type "register" %}
        {{ title }}
    {% else %}
        {% trans "Register transaction" %}
    {% endifnotequal %}
{% endblock %}


{% block content %}

<form method="post" action=".">
    <input type="hidden" name="type" value="{{type}}" />
    {{ form.as_p }}
    <p><button>{{ type|capfirst}}</button></p>
</form>

{% endblock %}
