{% load i18n %}
<table class="tablelist">
    <tr>
        <th>{% trans "Registered" %}</th>
        <th>{% trans "Payed" %}</th>
        <th>{% trans "Transaction" %}</th>
        <th>{% trans "Amount" %}</th>
        <th>{% trans "Details" %}</th>
    </tr>
    {% for t in transaction_list %}
    <tr class="{% cycle evenrow,oddrow %}{% if not t.is_payed %} pending{% endif %}">
        <td>{{ t.registered.timestamp|date:"Y-m-d" }}</td>
        {% if t.is_payed %}
        <td>{{ t.payed.timestamp|date:"Y-m-d" }}</td>
        {% else %}
        <td><em>{% trans "Pending" %}</em></td>
        {% endif %}

        <td>*FIXME* {{ t }}</td>


        <td class="align_right">*FIXME*</td

        <td>
            {% if t.settlement %}
                {{ t.settlement.date|date:"Y-m-d" }}
            {% endif %}
						*FIXME*
        </td>
    </tr>
    {% endfor %}
</table>
