{% load i18n %}
{% load ufs %}

<table class="tablelist">
    <tr>
        <th>{% trans "ID" %}</th>
        <th>{% trans "Account" %}</th>
        <th>{% trans "Debit" %}</th>
        <th>{% trans "Credit" %}</th>
        <th>{% trans "State" %}</th>
    </tr>
    {% for t in transaction_list %}
        {% filter_entries t entry_list %}
        <tr>
            {% for e in entry_list %}
                {% if forloop.first %}
                    <td rowspan="{{ entry_list|length }}">
                        <a href="{{ t.get_absolute_url }}">{{ t.id }}</a>
                    </td>
                {% else %}
                    <tr>
                {% endif %}
                <td class="account{% if not e.account.active %} inactive{% endif %} {% cycle 'evenrow' 'oddrow' as tdclass %}">
                    {% if is_admin %}
                        <a href="{% url account-summary group.slug,e.account.slug%}">{{ e.account.name }}</a>
                    {% else %}
                        {{ e.account.name }}
                    {% endif %}
                </td>
                <td class="number {{ tdclass }}">
                    {{ e.debit|creditformat }}
                </td>
                <td class="number {{ tdclass }}">
                    {{ e.credit|creditformat }}
                </td>
                {% if forloop.first %}
                    <td rowspan="{{ entry_list|length }}">
                        <span class="{{ t.css_class }} state">
                            {{ t.get_state_display }}</span>:
                        {{ t.last_modified|date }}
                        {{ t.last_modified|time }}
                        {% with t.log_set.select_related.0 as log %}
                            {% if log %}
                                <br />
                                {{ log.user }}:
                                {{ log.message|truncatewords:20|linebreaksbr }}
                            {% endif %}
                        {% endwith %}
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
