{% load i18n %}
<table class="tablelist">
    <tr>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Account" %}</th>
        <th>{% trans "Credit" %}</th>
        <th>{% trans "Debit" %}</th>
        <th>{% trans "Details" %}</th>
    </tr>
    {% for t in transaction_list %}
    <tr class="{% cycle evenrow,oddrow %}{% if not t.is_payed %} pending{% endif %}">
        <td rowspan="{{ t.entry_set.all.count }}">
					<dl>
						<dt>Registered:</dt>
						<dd>{{ t.registered.timestamp|date:"Y-m-d H:i" }}</dd>
        		{% if t.is_payed %}
						<dt>Payed:</dt>
						<dd>{{ t.payed.timestamp|date:"Y-m-d H:i" }}</dd>
		        {% endif %}
						{% if t.is_received %}
						<dt>Recieved:</dt>
						<dd>{{ t.received.timestamp|date:"Y-m-d H:i" }}</dd>
						{% endif %}
		        {% if t.is_rejected %}
						<dt>Rejected:</dt>
						<dd>{{ t.rejected.timestamp|date:"Y-m-d H:i" }}</dd>
		        {% endif %}
					</dl>
				</td>

        {% for e in t.entry_set.all %}
       		<td>
						{{e.account.group.name}}: {{e.account.name}}
	        </td>
	        <td class="align_right">
						{% if e.credit %} {{e.credit|stringformat:"0.2f"}} {% endif %}
	        </td>
  	      <td class="align_right">
						{% if e.debit %} {{e.debit|stringformat:"0.2f"}} {% endif %}
	        </td>
					{% if forloop.first %}
					<td rowspan="{{ t.entry_set.all.count }}">
						{% if e.rejected.message %}
							{{ e.registered.message }}
							{{ e.rejected.message }}
						{% else %}
							{%if e.rejected.message %}
								{{ e.registered.message }}
							{% else %}
								None
							{% endif %}
						{% endif %}
					</td>
					{% endif %}
				</tr>
				<tr>
				{% endfor %}
    </tr>
    {% endfor %}
</table>
