{% extends "accounting/transaction_list.html" %}
{% load i18n %}
{% load ufs %}


{% block breadcrumbs %}
    {{ block.super }}
    &raquo; {% trans "Transaction" %} {{ transaction.id }}</a>
{% endblock %}


{% block content %}

<table class="tabledetails">
    <tr>
        <th>{% trans "Transaction ID" %}</th>
        <td>{{ transaction.id }}</th>
    </tr>
    <tr>
        <th>{% trans "Settlement" %}</th>
        <td>
            {% if transaction.settlement %}
                <a href="{{ transaction.settlement.get_absolute_url }}">
                    {{ transaction.settlement }}</a>
            {% else %}
                {% trans "None" %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans "State" %}</th>
        <td>{{ transaction.get_state_display }}</th>
    </tr>
    <tr>
        <th>{% trans "Last modified" %}</th>
        <td>{{ transaction.last_modified|date:"Y-m-d H:i" }}</th>
    </tr>
{% if is_admin and transaction.is_editable %}
    <tr>
        <th>{% trans "Actions" %}</th>
        <td>
            <ul>
                <li class="admin">
                    <a href="{% url edit-transaction group.slug,transaction.id %}">
                        {% trans "Edit transaction" %}</a></li>
                <li class="admin">
                    <a href="{% url reject-transaction group.slug,transaction.id %}">
                        {% trans "Reject transaction" %}</a></li>
            </ul>
        </td>
    </tr>
{% endif %}
</table>

<h3>{% trans "Entries" %}</h3>

<table class="tablelist">
    <tr>
        <th>{% trans "Account" %}</th>
        <th>{% trans "Debit" %}</th>
        <th>{% trans "Credit" %}</th>
    </tr>
    {% filter_entries transaction entry_list %}
    {% for e in entry_list %}
    <tr class="{% cycle 'evenrow' 'oddrow' %}
        {% if transaction.is_rejected %}rejected{% else %}
        {% if transaction.is_pending %}pending{% endif %}{% endif %}">
        <td class="account">
            {% if is_admin %}
                <a href="{% url account-summary e.account.group.slug,e.account.slug%}">{{ e.account.name }}</a>
            {% else %}
                {{ e.account.name }}
            {% endif %}
        </td>
        <td class="align_right debit">
            {{ e.debit|default:"" }}
        </td>
        <td class="align_right credit">
            {{ e.credit|default:"" }}
        </td>
    </tr>
    {% endfor %}
</table>

<h3>{% trans "Log" %}</h3>

<table class="tablelist">
    <tr>
        <th>{% trans "State" %}</th>
        <th>{% trans "When" %}</th>
        <th>{% trans "Who" %}</th>
        <th>{% trans "Message" %}</th>
    </tr>

    {% for l in transaction.log_set.select_related %}
    <tr class="{% cycle 'evenrow' 'oddrow' %}">
        <td>{{ l.get_type_display }}</td>
        <td>{{ l.timestamp|date:"Y-m-d H:i" }}</td>
        <td><a href="mailto:{{ l.user.email }}">{{ l.user }}</a>{% if l.auto %} ({% trans "auto" %}){% endif %}</td>
        <td>{{ l.message }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
