{% extends "accounting/base.html" %}
{% load i18n %}


{% block content %}

<form action="." method="post" id="createtransaction">
    {% if errors %}
        <ul class="error">
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ form.as_p }}
    <label>{% trans "Account:" %}</label>
    <table class="tablelist">
        <thead>
            <tr>
                <th>Account</th><th>Debit</th><th>Credit</th>
            </tr>
        </thead>
        <tbody>
        {% for a,f in group_forms %}
            <tr class="{% cycle evenrow,oddrow as rowcolors %}">
                <td>{{ a.name }}</td>
                {{ f.as_table_row }}
            </tr>
        {% endfor %}
        {% for a,f in user_forms %}
            <tr class="{% cycle rowcolors %}">
                <td>{{ a.name }}</td>
                {{ f.as_table_row }}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <button type="submit">{% trans "Save transaction" %}</button>
    </p>
</form>

{% endblock %}
