{% load i18n %}
{% load ufs %}

<table class="tablelist">
    <tr>
        <th>{% trans "ID" %}</th>
        <th>{% trans "Account" %}</th>
        <th>{% trans "Debit" %}</th>
        <th>{% trans "Credit" %}</th>
        <th>{% trans "Details" %}</th>
    </tr>
    {% for t in transaction_list %}
        {% filter_entries t entry_list %}
        <tr>
            {% for e in entry_list %}
                {% if forloop.first %}
                    <td rowspan="{{ entry_list|length }}">
                        <a href="{{ t.get_absolute_url }}">{{ t.id }}</a>
                    </td>
                {% else %}
                    <tr>
                {% endif %}
                <td class="account{% if not e.account.active %} inactive{% endif %} {% cycle 'evenrow' 'oddrow' as tdclass %}">
                    {% if is_admin %}
                        <a href="{% url account-summary group.slug,e.account.slug%}">{{ e.account.name }}</a>
                    {% else %}
                        {{ e.account.name }}
                    {% endif %}
                </td>
                <td class="number {{ tdclass }}">
                    {{ e.debit|default:""|floatformat:"2" }}
                </td>
                <td class="number {{ tdclass }}">
                    {{ e.credit|default:""|floatformat:"2" }}
                </td>
                {% if forloop.first %}
                    <td rowspan="{{ entry_list|length }}">
                        <dl>
                            {% for l in t.log_set.select_related %}
                            <dt>
                                <b class="{{ l.css_class }}">{{ l.get_type_display }}</b>
                                {{ l.timestamp|date }} {{ l.timestamp|time }}
                            </dt>
                            <dd>
                                <em>{{ l.user|default:_("Unknown") }}:</em>
                                {{ l.message|default:_("No transaction log message") }}
                            </dd>
                            {% endfor %}
                        </dl>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
