{% load i18n %}

<table class="tablelist">
    <tr>
        <th>{% trans "State" %}</th>
        <th>{% trans "Account" %}</th>
        <th>{% trans "Debit" %}</th>
        <th>{% trans "Credit" %}</th>
        <th>{% trans "Details" %}</th>
    </tr>
    {% for t in transaction_list %}
    {% with t.entry_count_sql as rowspan %}
    <tr>
        {% for e in t.entry_set.select_related %}
            {% if forloop.first %}
                <td rowspan="{{ rowspan }}" class="status
                    {% if t.is_rejected %}
                        rejected
                    {% else %}
                        {% if t.is_pending %}
                            pending
                        {% else %}
                            committed
                        {% endif %}
                    {% endif %}">
                    {% blocktrans with t.get_state_display as state and t.last_modified|date:"Y-m-d H:i" as last_modified %}
                        <b>{{ state }}</b> at {{ last_modified }}
                    {% endblocktrans %}
                </td>
            {% else %}
                <tr>
            {% endif %}
            <td class="account{% if not e.account.active %} inactive{% endif %} {% cycle 'evenrow' 'oddrow' as tdclass %}">
                {% if is_admin %}
                    <a href="{% url account-summary e.account.group.slug,e.account.slug%}">{{ e.account.name }}</a>
                {% else %}
                    {{ e.account.name }}
                {% endif %}
            </td>
            <td class="number {{ tdclass }}">
                {{ e.debit|default:""|stringformat:"0.2f" }}
            </td>
            <td class="number {{ tdclass }}">
                {{ e.credit|default:""|stringformat:"0.2f" }}
            </td>
            {% if forloop.first %}
                <td rowspan="{{ rowspan }}" class="details">
                    <a href="{{ t.get_absolute_url }}">Details</a>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
    </tr>
    {% endwith %}
    {% endfor %}
</table>
