{% load i18n %}

{% if is_paginated %}
    <p>
        {% blocktrans %}{{ hits }} hits{% endblocktrans %}
        &ndash;
        {% if page_obj.has_previous %}
            {% if account %}
                <a href="{% url "transaction-list-account-page" account.group.slug account.slug page_obj.previous_page_number %}">
                &lt;&lt; {% trans "Previous" %}</a>
            {% else %}
                <a href="{% url "transaction-list-group-page" group.slug page_obj.previous_page_number %}">
                &lt;&lt; {% trans "Previous" %}</a>
            {% endif %}
            &bull;
        {% endif %}
        {% for i in paginator.page_range %}
            {% ifequal i page_obj.number %}
                {{ i }}
            {% else %}
                {% if account %}
                    <a href="{% url "transaction-list-account-page" account.group.slug account.slug i %}">
                    {{ i }}</a>
                {% else %}
                    <a href="{% url "transaction-list-group-page" group.slug i %}">
                    {{ i }}</a>
                {% endif %}
            {% endifequal %}
            {% if not forloop.last %}
                &bull;
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            &bull;
            {% if account %}
                <a href="{% url "transaction-list-account-page" account.group.slug account.slug page_obj.next_page_number %}">
                {% trans "Next" %} &gt;&gt;</a>
            {% else %}
                <a href="{% url "transaction-list-group-page" group.slug page_obj.next_page_number %}">
                {% trans "Next" %} &gt;&gt;</a>
            {% endif %}
        {% endif %}
    </p>
{% endif %}
