{% load i18n %}

{% if is_paginated %}
    <p>
    {% blocktrans %}{{ hits }} hits{% endblocktrans %}
    &ndash;
    {% if has_previous %}
        {% if account %}
            <a href="{% url transaction-list-account-page account.group.slug,account.slug,previous %}">
            &lt;&lt; {% trans "Previous" %}</a>
        {% else %}
            <a href="{% url transaction-list-group-page group.slug,previous %}">
            &lt;&lt; {% trans "Previous" %}</a>
        {% endif %}
        &bull;
    {% endif %}
    {% for i in page_range %}
        {% ifequal i page %}
            {{ i }}
        {% else %}
            {% if account %}
                <a href="{% url transaction-list-account-page account.group.slug,account.slug,i %}">
                {{ i }}</a>
            {% else %}
                <a href="{% url transaction-list-group-page group.slug,i %}">
                {{ i }}</a>
            {% endif %}
        {% endifequal %}
        {% if not forloop.last %}
            &bull;
        {% endif %}
    {% endfor %}
    {% if has_next %}
        &bull;
        {% if account %}
            <a href="{% url transaction-list-account-page account.group.slug,account.slug,next %}">
            {% trans "Next" %} &gt;&gt;</a>
        {% else %}
            <a href="{% url transaction-list-group-page group.slug,next %}">
            {% trans "Next" %} &gt;&gt;</a>
        {% endif %}
    {% endif %}
    </p>
{% endif %}
