<h3>Transactions</h3>

{% if not transaction_list %}
<p>No transactions found.</p>
{% else %}

{% if is_paginated %}
<p>
    {% if has_previous %}
    <a href="{% url account-summary-page account.group.slug,account.id,previous %}">&laquo; Previous</a> |
    {% endif %}
    {{ hits }} hits
    {% if has_next %}
    | <a href="{% url account-summary-page account.group.slug,account.id,next %}">Next &raquo;</a>
    {% endif %}
</p>
{% endif %}

<table class="tablelist">
    <tr>
        <th>Registered</th>
        <th>Payed</th>
        <th>Group</th>
        <th>Type</th>
        <th>Out</th>
        <th>In</th>
        <th>Details</th>
    </tr>
    {% for t in transaction_list %}
    <tr{% if not t.payed %} class="pending"{% endif %}>
        <td>{{ t.registered|date:"Y-m-d" }}</td>
        {% if t.payed %}
        <td>{{ t.payed|date:"Y-m-d" }}</td>
        {% else %}
        <td><em>Pending</em></td>
        {% endif %}

				<td>
				{% ifequal t.from_account.id account.id %}
					{{ t.to_account.group.name }}
				{% else %}
					{{ t.from_account.group.name }}
				{% endifequal %}
				</td>

        <td>
				{% ifequal t.from_account.id account.id %}
						{% if is_admin %}
				To <a href="{% url account-summary t.to_account.group.slug,t.to_account.slug %}">{{ t.to_account.name }}</a>
						{% else %}
				To {{ t.to_account.name }}
						{% endif %}
				{% else %}
						{% if is_admin %}
				From <a href="{% url account-summary t.from_account.group.slug,t.from_account.slug %}">{{ t.from_account.name }}</a>
						{% else %}
				From {{ t.from_account.name }}
						{% endif %}
				{% endifequal %}
        </td>

        {% ifequal t.from_account.id account.id %}
        <td class="align_right">{{ t.amount|stringformat:"0.2f" }}</td>
        <td></td>
        {% else %}
        <td></td>
        <td class="align_right">{{ t.amount|stringformat:"0.2f" }}</td>
        {% endifequal %}

        <td>
            {% if t.settlement %}
            {{ t.settlement.date|date:"Y-m-d" }}
            {% endif %}
            {{ t.details }}
        </td>
    </tr>
    {% endfor %}
</table>

{% if is_paginated %}
<p>
    {% if has_previous %}
    <a href="{% url account-summary-page account.group.slug,account.id,previous %}">&laquo; Previous</a> |
    {% endif %}
    {{ hits }} hits
    {% if has_next %}
    | <a href="{% url account-summary-page account.group.slug,account.id,next %}">Next &raquo;</a>
    {% endif %}
</p>
{% endif %}

{% endif %}
