body {
	background: #333;
	color: black;
	font-family: Sans-serif;
	font-size: 90%;
	margin: 0;
}

/* Headers */
h1 {
	/* background: ...; */ /* Defined in template, as logo url is needed */
	font-size: 2em;
	height: 80px; /* Height of background logo */
	line-height: 40px; /* Half of height */
	margin: 0 0 0.5em 0;
}
h2 {
	font-size: 1.4em;
	margin: 0.7em 0;
}
h3 {
	font-size: 1.2em;
	margin: 0.7em 0;
}

/* Block elements */
p {
	margin: 0.7em 0;
}
table {
	margin: 0.7em 0;
}

/* Inline elements */
a {
	background: transparent;
	color: black;
}
em {
	font-style: italic;
}

/* Page container */
#container {
	background: white;
	margin: 0 auto;
	min-width: 740px;
	max-width: 60em;
	padding: 1em;
	border-left:   5px solid #444;
	border-right:  5px solid #444;
	border-bottom: 5px solid #444;
}

/* Drop-down menu */
#menu {
	background: #e6e6e6; /* To fill width of menu with color */
	margin: 0 -1em;
	padding: 0 1em;
	height: 1.7em; /* Text height + menu top/bottom padding */
	border-bottom: 2px solid #eee;
	border-top:    2px solid #eee;
}
#menu a {
	background: #e6e6e6;
	color: black;

	/* Make links fill li */
	display: block;
	line-height: 1em;
	width: 100%;

	padding: 0.3em 0.5em;
	text-decoration: none;
}
#menu a:hover {
	background: #ccc;
}
#menu .admin a {
	background: #e6e6e6;
	color: #a10000;
}
#menu .admin a:hover {
	background: #ccc;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li {
	float: left;
	margin-right: 1em;
	position: relative;
	width: 8em;
}
#menu li ul {
	display: none;
	position: absolute;
}
#menu li:hover ul,
#menu li.over ul /* The over class is an IE-hack */
{
	display: block;
}

/* Main content block */
#content {
	/* Get clear of the floating menu */
	clear: left;
	margin: 0.5em 0;
}

/* Footer block */
#footer {
	border-top: 1px solid #aaa;
	font-size: smaller;
	padding-top: 0.5em;
	margin-top: 0.7em;
}
#footer span {
	font-weight: bold;
	padding: 0 0.5em;
}

/* Tables */
.tablecolumn {
	border-collapse: separate;
}
.tablecolumn td {
	padding-right: 1em;
	vertical-align: top;
}

.tablelist th, .tabledetails th {
	background: #e6e6e6;
	border: 1px solid gray;
	padding: 0.3em;
	font-weight: bolder;
}
.tablelist td, .tabledetails td {
	border: 1px solid gray;
	padding: 0.3em;
}

/* Alignment */
.align_left {
	text-align: left;
}
.align_center {
	text-align: center;
}
.align_right {
	text-align: right;
}

/* Colorization */
.pending {
	color: gray;
}
.warning {
	color: #df8713;
}
.error, .errorlist {
	color: red;
}

/* forms */
label {
	display: block;
}
input, select, textarea, button {
	border: 1px solid gray;
}
button {
	background: #DDD;
}
