body {
	background: #babdb6;
	color: black;
	margin: 0;
}

/* Headers */
h1#head {
	height: 40px; /* Height of background logo */
}

h1 {
	/* background: ...; */ /* Defined in template, as logo url is needed */
	font-size: 200%;
	margin: 0.2em 0;
}
h2 {
	font-size: 138.5%;
	margin: 0.5em 0;
}
h3 {
	font-size: 123.1%;
	font-weight: bold;
	margin: 0.5em 0 0.3em 0;
}

/* Block elements */
p {
	margin: 0.7em 0;
}
table {
	margin: 0.7em 0;
}
caption {
	font-weight: bold;
}
ul {
	list-style-type: disc;
	padding-left: 1em;
	margin: 0.3em 0 1em;
}
ul ul {
	list-style-type: square;
}
ul ul ul {
	list-style-type: circle;
}

dt {
	font-weight: bold;
}
dd {
	margin-left: 0.5em;
}

/* Inline elements */
a {
	background: transparent;
	color: black;
}
em {
	font-style: italic;
}
img {
	vertical-align: middle;
}

/* Page container */
#container {
	background: white;
	margin: 0 auto;
	min-width: 740px;
	max-width: 60em;
	padding: 1em;
	border-left: 5px solid #d3d7cf;
	border-right: 5px solid #d3d7cf;
	border-bottom: 5px solid #d3d7cf;
}

/* Drop-down menu */
#menu {
	background: #eeeeec; /* To fill width of menu with color */
	margin: 0 -1em;
	padding: 0 1em;
	height: 1.85em; /* Text height + menu top/bottom padding */
	border-bottom: 2px solid #d3d7cf;
	border-top: 2px solid #d3d7cf;
}
#menu a {
	color: black;
	font-size: 116%;

	/* Make links fill li */
	display: block;
	line-height: 1em;
	width: 100%;

	padding: 0.3em 0.5em;
	text-decoration: none;
}
#menu li li a {
	background: #eeeeec;
}

#menu a:hover {
	background: #d3d7cf;
}
#menu .admin a {
	color: #cc0000;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li {
	float: left;
	margin-right: 2em;
	position: relative;
	width: 8em;
}
#menu li ul {
	display: none;
	position: absolute;
}
#menu li:hover ul,
#menu li.over ul /* The over class is an IE-hack */
{
	display: block;
}

#menu #help {
	float: right;
	text-align: right;
}

/* Main content block */
#content {
	/* Get clear of the floating menu */
	clear: left;
	margin: 0.5em 0;
}

/* Footer block */
#footer {
	border-top: 1px solid #aaa;
	clear: both;
	font-size: 85%;
	padding-top: 0.5em;
	margin-top: 0.7em;
}
#footer span {
	font-weight: bold;
	padding: 0 0.5em;
}
#footer form {
	display: inline;
}
#footer select {
	width: auto;
}
#footer button {
	margin-left: 0;
}

#messages {
	margin-top: 1em;
}

/* Tables */
.tablelist th, .tabledetails th {
	background: #d3d7cf;
	border: 1px solid gray;
	padding: 0.3em;
	font-weight: bolder;
}
.tablelist td, .tabledetails td {
	border: 1px solid gray;
	padding: 0.3em;
	vertical-align: top;
}
tr.evenrow {
	background: white;
	color: black;
}
tr.oddrow {
	background: #eeeeec;
	color: black;
}

/* Alignment */
.align_left {
	text-align: left;
}
.align_center {
	text-align: center;
}
.align_right {
	text-align: right;
}

/* Float */
.float_left {
	float: left;
}

.float_right {
	float: right;
}

/* Colorization */
.pending, .comment, .comment a, .none {
	color: gray;
}
.warning {
	color: #ce5c00;
}
.error, .blocked {
	color: #cc0000;
}
.error input {
	border: 1px solid #cc0000;
}
.disabled td {
	text-decoration: line-through;
}

/* Columns */
div.coltwo {
	width: 48%;
	padding-right: 1em;
	float: left;
}
div.colthree {
	width: 32%;
	padding-right: 1em;
	float: left;
}

/* Error list */
ul.errorlist {
	color: #cc0000;
	padding: 0;
	margin-left: 7em;
	margin-bottom: -0.6em;
	list-style-type: none;
}

/* Forms */
label {
	display: block;
	width: 8em;
	font-weight: bold;
	float: left;
	clear: both;
	text-align: right;
	margin-right: 1em;
}
input, select, textarea {
	width: 15em;
}
input, select, textarea, button {
	border: 1px solid #2e3436;
	font-size: 100%;
}
input:focus, select:focus, textarea:focus {
	background: #eeeeec;
}
input:hover, select:hover, textarea:hover, button:hover {
	border: 1px solid #555753;
}

button {
	margin-left: 9em;
	background: #d3d7cf;
}

#rejectionlist {
	margin-left: 9em;
}

.plainform button {
	margin-left: 0.2em;
}

#accounting_approve_transactions button {
	margin-left: 0 !important;
	margin-right: 0.5em;
}
input#id_payed, #accounting_approve_transactions table input,
input#id_registered, input#id_received, form #delete_logo,
input#id_placeholder, input#id_active, input#id_ignore_block_limit,
input#id_double {
  /* checkboxes */
	width: auto;
	border: 0;
}
#transactions table select {
	width: 6em;
}
#editlist table input {
	width: auto;
}

form p {
	clear: left;
}

#createtransaction input {
	width: 4em;
	text-align: right;
}
#createtransaction .debit_sum,
#createtransaction .credit_sum {
	text-align: right;
}
#createtransaction .sum {
	font-weight: bold;
}
#createtransaction #debit_sum, #createtransaction #credit_sum {
	text-align: right;
}

/* Account/group summary */
#accountinfo, #groupinfo, #actions, #lists, #transaction_actions, #statements {
	float: left;
	margin-right: 3em;
}
#transactions, #accounts, #accounts .comment, #transactions table {
	clear: both;
}

#transactions dl {
	font-size: 85%;
}
#transactions dt {
	width: 6em;
	text-align: right;
	float: left;
	color: black;
}
#transactions .details dt {
	font-weight: normal;
	width: auto;
}
#transactions dd {
	margin-left: 6.5em;
}
#transactions .details dd {
	margin-left: auto;
}
#transactions p {
	margin: 0 !important;
	padding: 0 !important;
}
#transactions .rejected a,
#transactions .rejected,
#transactions .pending a,
#transactions .pending {
	color: gray;
}
#transactions .status {
	color: black;
}
#transactions .rejected .account,
#transactions .rejected .debit,
#transactions .rejected .credit {
	text-decoration: line-through;
}

/* New list page */
#listcolumns input {
	width: auto;
	background: transparent;
}

/* Query debug */
div#debug {
	margin: 1em;
}
div#debug table {
	border: 5px solid #d3d7cf;
}

div#debug table#query_table, div#debug table#query_table thead {
	background: white;
}
div#debug table#query_table th {
	font-weight: bolder;
	padding: 0.5em;
	text-align: left;
}
div#debug table#query_table td {
	padding: 0.5em;
	text-align: left;
	vertical-align: top;
}
