body {
	background: #333;
	color: black;
	margin: 0;
}

/* Headers */
h1#head {
	height: 40px; /* Height of background logo */
}

h1 {
	/* background: ...; */ /* Defined in template, as logo url is needed */
	font-size:  200%;
	margin: 0.2em 0;
}
h2 {
	font-size:  138.5%;
	margin: 0.5em 0;
}
h3 {
	font-size: 123.1%;
	font-weight: bold;
}

/* Block elements */
p {
	margin: 0.7em 0;
}
table {
	margin: 0.7em 0;
}
ul {
	list-style-type: disc;
	padding-left: 1em;
	margin: 0.3em 0 1em;
}
ul ul {
	list-style-type: square;
}
ul ul ul {
	list-style-type: circle;
}

/* Inline elements */
a {
	background: transparent;
	color: black;
}
em {
	font-style: italic;
}

/* Page container */
#container {
	background: white;
	margin: 0 auto;
	min-width: 740px;
	max-width: 60em;
	padding: 1em;
	border-left:   5px solid #444;
	border-right:  5px solid #444;
	border-bottom: 5px solid #444;
}

/* Drop-down menu */
#menu {
	background: #e6e6e6; /* To fill width of menu with color */
	margin: 0 -1em;
	padding: 0 1em;
	height: 1.85em; /* Text height + menu top/bottom padding */
	border-bottom: 2px solid #eee;
	border-top:    2px solid #eee;
}
#menu a {
	background: #e6e6e6;
	color: black;
	font-size: 116%;

	/* Make links fill li */
	display: block;
	line-height: 1em;
	width: 100%;

	padding: 0.3em 0.5em;
	text-decoration: none;
}
#menu a:hover {
	background: #ccc;
}
#menu .admin a {
	background: #e6e6e6;
	color: #a10000;
}
#menu .admin a:hover {
	background: #ccc;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li {
	float: left;
	margin-right: 2em;
	position: relative;
	width: 8em;
}
#menu li ul {
	display: none;
	position: absolute;
}
#menu li:hover ul,
#menu li.over ul /* The over class is an IE-hack */
{
	display: block;
}

#menu #help {
	float: right;
	text-align: right;
}

/* Main content block */
#content {
	/* Get clear of the floating menu */
	clear: left;
	margin: 0.5em 0;
}

/* Footer block */
#footer {
	border-top: 1px solid #aaa;
	font-size: 85%;
	padding-top: 0.5em;
	margin-top: 0.7em;
}
#footer span {
	font-weight: bold;
	padding: 0 0.5em;
}
#footer form {
	display: inline;
}
#footer select {
	width: auto;
}
#footer button {
	margin-left: 0;
}

#messages {
	margin-top: 1em;
}

/* Tables */
.tablecolumn {
	border-collapse: separate;
	width: 100%;
}
.tablecolumn td {
	padding: 0 0.5em;
	vertical-align: top;
	width: 50%;
}

.tablelist th, .tabledetails th {
	background: #e6e6e6;
	border: 1px solid gray;
	padding: 0.3em;
	font-weight: bolder;
}
.tablelist td, .tabledetails td {
	border: 1px solid gray;
	padding: 0.3em;
	vertical-align: top;
}
.tablelist tr.evenrow {
	background: white;
	color: black;
}
.tablelist tr.oddrow {
	background: #eee;
	color: black;
}

/* Alignment */
.align_left {
	text-align: left;
}
.align_center {
	text-align: center;
}
.align_right {
	text-align: right;
}

/* Colorization */
.pending, .comment, .comment a {
	color: gray;
}
.warning {
	color: #df8713;
}
.error, .blocked {
	color: #a10000;
}

/* Error list */
ul.errorlist {
	padding: 0;
	margin-left: 7em;
	margin-bottom: -0.6em;
	list-style-type: none;
	color: #a10000;
}

/* Forms */
label {
	display: block;
	width: 6em;
	font-weight: bold;
	float: left;
	text-align: right;
	margin-right: 1em;
}
input, select, textarea {
	width: 15em;
}
input, select, textarea, button {
	border: 1px solid gray;
	font-size: 100%;
}
input:focus, select:focus, textarea:focus {
	background: #FFFFF0;;
}
input:hover, select:hover, textarea:hover, button:hover {
	border: 1px solid #444;
}

button {
	margin-left: 7em;
	background: #DDD;
}
#accounting_approve_transactions button {
	margin-left: 0 !important;
	margin-right: 0.5em;
}
table + p button {
	margin-left: auto !important;
	margin-right: auto !important;
}
input#id_payed, #accounting_approve_transactions table input { /* checkboxes */
	width: auto;
	border: 0;
}

/* Account/group summary */
#accountinfo, #groupinfo, #actions, #lists, #transaction_actions, #statements {
	float: left;
	margin-right: 3em;
}
#transactions, #accounts {
	clear: both;
}


