body {
	background: #96B7D6;
	color: black;
	font-family: Sans-serif;
	font-size: 90%;
	margin: 0;
}

h1 {
	/* background: ...; */ /* Defined in template, as logo url is needed */
	font-size: 2em;
	height: 80px; /* Height of background logo */
	line-height: 40px; /* Half of height */
	margin: 0 0 0.5em 0;
}
h2 {
	font-size: 1.4em;
	margin: 0.5em 0;
}
h3 {
	font-size: 1.2em;
	margin: 0.5em 0;
}

p {
	margin: 0.5em 0;
}

a {
	background: transparent;
	color: black;
}

/* Page container */
#container {
	background: white;
	margin: 0 auto;
	max-width: 60em;
	padding: 1em;
}

/* Drop-down menu */
#menu {
	background: #ddd; /* To fill width of menu with color */
	margin-left: -1em;
	margin-right: -1em;
	padding-left: 1em;
	height: 1.85em; /* Text height + menu top/bottom padding */
}
#menu a {
	background: #ddd;
	color: black;

	/* Make links fill li */
	display: block;
	height: 100%;
	width: 100%;

	padding: 0.3em 0.5em;
	text-decoration: none;
}
#menu a:hover {
	background: #ccc;
}
#menu .admin a {
	background: #ddd;
	color: #a10000;
}
#menu .admin a:hover {
	background: #ccc;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li {
	float: left;
	margin-right: 1em;
	position: relative;
	width: 8em;
}
#menu li ul {
	display: none;
	position: absolute;
}
#menu li:hover ul,
#menu li.over ul /* The over class is an IE-hack */
{
	display: block;
}

/* Main content block */
#content {
	/* Get clear of the floating menu */
	clear: left;
	margin: 0.5em 0;
}

/* Footer block */
#footer {
	border-top: 1px solid #aaa;
	font-size: smaller;
	padding-top: 0.5em;
}
#footer span {
	font-weight: bold;
	padding: 0 0.5em;
}
