/* Basic block elements */
body {
	background: white;
	color: #444;
	padding: 1em;
}
h1, h2, h3 {
	font-family: Georgia, serif;
}
h1 {
	/* background: ...; */ /* Defined in template, as logo URL is needed */
	font-size: 2.5em;
	min-height: 40px;
	padding-left: 50px; /* To make place for background */
}
h2 {
	font-size: 24px;
	margin: 0.3em 0;
}
h3 {
	font-size: 20px;
	margin: 0.2em 0;
}
p {
	margin: 0.5em 0;
}
form {
	margin: 0.5em 0;
}
ul {
	margin: 0.5em 0;
}
ul li {
	margin-left: 1.5em;
	list-style: square outside;
}
ul ul li {
	list-style: disc;
}
ul ul ul li {
	list-style: circle;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 1em;
}

/* Basic inline elements */
a {
	background: transparent;
	color: #204a87;
}
a:hover {
	color: #444;
}
em {
	font-style: italic;
}
img {
	vertical-align: middle;
}

/* Page header */
#hd {
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
}

/* Page breadcrumbs */
#bc {
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
}

/* Page footer */
#ft {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
}
#ft span {
	font-weight: bold;
	padding: 0 0.5em;
}
#ft form {
	display: inline;
}
#ft select {
	width: auto;
}
#ft button {
	margin-left: 0;
}

/* Menu area */
#bd > .yui-b {
	padding: 0.5em;
}
#menu {
	margin-right: 0.5em;
}
#menu h2 {
	display: none;
}
#menu h3 {
	font-size: large;
	border-bottom: 1px solid #ccc;
	margin-top: 1em;
}
ul.menulist {
	margin-bottom: 0.5em;
}
#helptips p {
	color: #666;
	font-size: 85%;
	text-align: justify;
}

/* Content area */
#yui-main > .yui-b {
	border-left: 1px solid #ccc;
	padding: 1em;
	min-height: 20em;
}
#content {
}

/* Debug area */
#debug {
	margin: 1em 0;
	text-align: left;
}

/* Page layouts */
div.coltwo {
	float: left;
	padding-right: 1em;
	width: 48%;
}
div.colthree {
	float: left;
	padding-right: 1em;
	width: 32%;
}

/* Table layouts */
caption {
	font-weight: bold;
	margin: 0.5em 0;
}
table {
	margin: 0.5em 0;
}
table th {
	background: #f0f0f0;
	border: 1px solid #ccc;
	padding: 0.3em;
	font-weight: bolder;
}
table td {
	border: 1px solid #ccc;
	padding: 0.3em;
	vertical-align: top;
}
table tr.evenrow {
	background: white;
}
table tr.oddrow {
	background: #eeeeec;
}

/* Content layout */
.align_left {
	text-align: left;
}
.align_center {
	text-align: center;
}
.align_right {
	text-align: right;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.clear {
	clear: both;
}
.pending, .comment, .comment a, .none {
	background: transparent;
	color: #888a85;
}
.warning {
	background: transparent;
	color: #ce5c00;
}
.error, .blocked, .Rej {
	background: transparent;
	color: #A40000;
}
.error input {
	border: 1px solid #c00;
}
.disabled td {
	text-decoration: line-through;
}
.admin a {
	background: transparent;
	color: #CE5C00 !important;
}
.admin a:hover {
	background: transparent;
	color: #F57900 !important;
}
.ok, .Rec {
	color: #4E9A06;
}

/* Forms */
label {
        display: block;
        width: 8em;
        font-weight: bold;
        float: left;
        clear: both;
        text-align: right;
        margin-right: 1em;
}
input, select, textarea {
        width: 15em;
}
input, select, textarea, button {
        border: 1px solid #ccc;
        font-size: 100%;
}
input:focus, select:focus, textarea:focus {
        background: #ffd;
}
input:hover, select:hover, textarea:hover, button:hover {
        border: 1px solid #444;
}
button {
        background: #d3d7cf;
        color: black;
        margin-left: 9em;
}

/* Form hacks -- let the mayhem begin */
/* FIXME: adamcik, please cleanup!!1 -jodal, 2008-03-10 */
#rejectionlist {
        margin-left: 9em;
}
.plainform button {
        margin-left: 0.2em;
}
#accounting_approve_transactions button {
        margin-left: 0 !important;
        margin-right: 0.5em;
}
input#id_payed, #accounting_approve_transactions table input,
input#id_registered, input#id_received, form #delete_logo,
input#id_placeholder, input#id_active, input#id_ignore_block_limit,
input#id_double, input#id_ignore_blocked, input#id_admin_only,
input#id_delete_logo {
	/* Fix all checkboxes */
        width: auto;
        border: 0;
}
#transactions table select {
        width: 6em;
}
#editlist table input {
        width: auto;
}
form p {
	clear: left;
}
#createtransaction input {
        width: 4em;
        text-align: right;
}
#createtransaction .debit_sum,
#createtransaction .credit_sum {
        text-align: right;
}
#createtransaction .sum {
        font-weight: bold;
}
#createtransaction #debit_sum, #createtransaction #credit_sum {
        text-align: right;
}
/* Account/group summary */
#accountinfo, #groupinfo, #actions, #lists, #statements {
        float: left;
        margin-right: 3em;
}
#transactions, #accounts, #accounts .comment, #transactions table {
        clear: both;
}
/* New list page */
#listcolumns input {
        background: transparent;
        width: auto;
}

/* Print style */
/* FIXME: Not updated after introduction of YUI Grids */
@media print {
        #apphead, #menu, #debug {
                display: none;
        }
        #container {
                border: 0;
        }
        #tabs ul li a {
                display: none;
        }
        #tabs ul li a.active {
                display: inline;
                border: 0;
                font-size: 150%;
        }
}
