/* Basic block elements */
body {
	background: white;
	color: black;
	padding: 1em;
}
h1, h2, h3, h4 {
	font-family: georgia;
	color: #333;
}
h2, h3, h4 {
	margin: 0.6em 0 0.2em -0.3em;
}
h1 {
	/* background: ...; */ /* Defined in template, as logo URL is needed */
	font-size: 2.5em;
	min-height: 40px;
	padding-left: 50px; /* To make place for background */
}
h2 {
	font-size: 182%;
}
h3 {
	font-size: 153.9%;
}
h4 {
	font-size: 123.1%;
}
hr {
	color: #ccc;
	background: #ccc;
	height: 1px;
	border: 0;
}
p {
	margin: 0.5em 0;
}
ul {
	margin: 0.5em 0;
}
ul li {
	margin-left: 1.5em;
	list-style: square outside;
}
ul ul li {
	list-style: disc;
}
ul ul ul li {
	list-style: circle;
}
dd {
	margin-left: 1em;
}

/* Basic inline elements */
a {
	background: transparent;
	color: #204a87;
}
a:hover {
	color: #444;
}
em {
	font-style: italic;
}
img {
	vertical-align: middle;
}

/* Page header */
#hd {
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
}

/* Page breadcrumbs */
#bc {
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
}

/* Page footer */
#ft {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
}
#ft form {
	display: inline;
}

/* Menu area */
#bd > .yui-b {
	padding: 0.5em;
}
#menu {
	padding-right: 1em;
	border-right: 1px solid #ccc;
}
#menu h2 {
	display: none;
}
#menu h3 {
	font-size: large;
	border-bottom: 1px solid #ccc;
	margin-top: 1em;
}
ul.menulist {
	margin-bottom: 0.5em;
}
#helptips p {
	font-size: 93%;
}

/* Content area */
#yui-main > .yui-b {
	padding: 1em;
	min-height: 20em;
}

/* Table layouts */
caption {
	font-weight: bold;
	color: #333;
	margin: 0.5em 0;
}
table {
	margin: 0.5em 0;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
th,td {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
th {
	background: #f0f0f0;
	padding: 0.3em;
	color: #333;
	font-weight: bolder;
}
td {
	padding: 0.3em;
	vertical-align: top;
}
.evenrow {
	background: white;
}
.oddrow {
	background: #eeeeec;
}

/* Content layout */
.align_left {
	text-align: left;
}
.align_center {
	text-align: center;
}
.align_right, .number {
	text-align: right;
}
.float_left {
	float: left;
	margin-right: 1em;
}
.float_right {
	float: right;
}
.clear {
	clear: both;
}

.debit, .credit {
	text-align: right;
}

/* colors */
.pending, .comment, .comment a, .none {
	background: transparent;
	color: #888a85;
}
.warning {
	background: transparent;
	color: #ce5c00;
}
.error, .blocked, .rejected b, .errorlist {
	background: transparent;
	color: #a40000 !important;
}
td.error {
	background: #FDD;
}
.inactive td, .inactive {
	color: #888a85;
}
.admin a {
	color: #C00 !important;
}
.admin a:hover {
	color: #A40000 !important;
}
.ok, .committed {
	color: #4e9a06;
}

/* Forms */
#yui-main form {
	padding-left: 1em;
}
#yui-main label {
	font-weight: bold;
	display: block;
	clear: both;
	margin-left: -1em;
}
#yui-main select {
	width: 15em;
}
#yui-main textarea {
	width: 35em;
	height: 6em;
}
#yui-main input, #yui-main select, #yui-main textarea, #yui-main button {
	padding: 0.1em 0.2em;
	font-size: 100%;
}
#yui-main textarea {
	display: block;
}
#yui-main button {
	color: black;
	margin: 0 1.5em;
	margin-left: -1em;
	clear: both;
}

/* Account/group summary */
#accountinfo, #groupinfo, #actions, #lists, #statements {
        float: left;
        margin-right: 3em;
}
#transactions, #accounts, #accounts .comment, #transactions table, #activate {
        clear: both;
}
/* New list page */
#listcolumns input {
        background: transparent;
        width: auto;
}

/* Print style */
@media print {
	#menu, #debug, #ft, #hd, #bc {
		display: none;
	}
	.yui-b  {
		margin: 0 !important;
		border: 0 !important;
	}
	body {
		padding: 0;
	}
}
