/* Basic block elements */
body {
	background: white;
	color: black;
	padding: 1em;
}
h1, h2, h3 {
	font-family: georgia;
	color: #333;
}
h1 {
	/* background: ...; */ /* Defined in template, as logo URL is needed */
	font-size: 2.5em;
	min-height: 40px;
	padding-left: 50px; /* To make place for background */
}
h2 {
	font-size: 182%;
	margin: 0.3em 0;
}
h3 {
	font-size: 153.9%;
	margin: 0.2em 0;
}
p {
	margin: 0.5em 0;
}
ul {
	margin: 0.5em 0;
}
ul li {
	margin-left: 1.5em;
	list-style: square outside;
}
ul ul li {
	list-style: disc;
}
ul ul ul li {
	list-style: circle;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 1em;
}

/* Basic inline elements */
a {
	background: transparent;
	color: #204a87;
}
a:hover {
	color: #444;
}
em {
	font-style: italic;
}
img {
	vertical-align: middle;
}

/* Page header */
#hd {
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
}

/* Page breadcrumbs */
#bc {
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
}

/* Page footer */
#ft {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
}
#ft form {
	display: inline;
}

/* Menu area */
#bd > .yui-b {
	padding: 0.5em;
}
#menu {
	padding-right: 1em;
	border-right: 1px solid #ccc;
}
#menu h2 {
	display: none;
}
#menu h3 {
	font-size: large;
	border-bottom: 1px solid #ccc;
	margin-top: 1em;
}
ul.menulist {
	margin-bottom: 0.5em;
}
#helptips p {
	font-size: 85%;
	text-align: justify;
}

/* Content area */
#yui-main > .yui-b {
	padding: 1em;
	min-height: 20em;
}

/* Debug area */
#debug {
	margin: 1em 0;
	text-align: left;
}

/* Table layouts */
caption {
	font-weight: bold;
	color: #333;
	margin: 0.5em 0;
}
table {
	margin: 0.5em 0;
}
table th {
	background: #f0f0f0;
	border: 1px solid #ccc;
	padding: 0.3em;
	color: #333;
	font-weight: bolder;
}
table td {
	border: 1px solid #ccc;
	padding: 0.3em;
	vertical-align: top;
}
table tr.evenrow, table tr.oddrow .status, table tr.oddrow .details {
	background: white;
}
table tr.oddrow {
	background: #eeeeec;
}

/* Content layout */
.align_left {
	text-align: left;
}
.align_center {
	text-align: center;
}
.align_right {
	text-align: right;
}
.float_left {
	float: left;
	margin-right: 1em;
}
.float_right {
	float: right;
}
.clear {
	clear: both;
}

/* colors */
.pending, .comment, .comment a, .none {
	background: transparent;
	color: #888a85;
}
.warning {
	background: transparent;
	color: #ce5c00;
}
.error, .blocked, .rejected b, .errorlist {
	background: transparent;
	color: #a40000 !important;
}
.error input {
	border: 1px solid #c00 !important;
}
.inactive td, .inactive {
	text-decoration: line-through;
}
.admin a {
	color: #f57900 !important;
}
.admin a:hover {
	color: #ce5c00 !important;
}
.ok, .received b {
	color: #4e9a06;
}

/* Forms */
#yui-main form {
	padding-left: 1em;
}
#yui-main label {
	font-weight: bold;
	display: block;
	clear: both;
	margin-left: -1em;
}
#yui-main select {
	width: 15em;
}
#yui-main textarea {
	width: 35em;
	height: 6em;
}
#yui-main input, #yui-main select, #yui-main textarea, #yui-main button {
	border: 1px solid #ccc;
	font-size: 100%;
}
#yui-main input:focus, #yui-main textarea:focus {
	background: #ffd;
}
#yui-main input:hover, #yui-main select:hover, #yui-main textarea:hover, #yui-main button:hover {
	border: 1px solid #444;
}
#yui-main button {
	background: #d3d7cf;
	color: black;
	margin-left: -1em;
	clear: both;
	display: block;
}

/* Account/group summary */
#accountinfo, #groupinfo, #actions, #lists, #statements {
        float: left;
        margin-right: 3em;
}
#transactions, #accounts, #accounts .comment, #transactions table {
        clear: both;
}
/* New list page */
#listcolumns input {
        background: transparent;
        width: auto;
}

/* Print style */
@media print {
        #menu, #debug, #ft, #hd, #bc {
                display: none;
        }
        .yui-b  {
                margin: 0 !important;
		border: 0 !important;
        }
        body {
                padding: 0;
        }
}
