body {
	padding: 1em;
}
h1 {
	font-size: 200%;
	font-family: serif;
	font-weight: bold;
	float: left;
}

a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.admin a {
	background: transparent;
	color: #900 !important;
}
.admin a:hover {
	background: transparent;
	color: #500 !important;
}

table {
	width: 100%;
	clear: both;
}

thead, tfoot {
	display: table-header-group;
}

thead th {
	font-weight: bolder;
	text-align: center;
}

tbody th, tfoot th, td {
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	padding: 2px;
}

tbody {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	display: table-row-group;
}

tbody td.double {
	border-bottom-style: dashed;
}

td {
	text-align: center;
	height: 1.6em;
}
tfoot td {
	border: 0;
	text-align: left;
}
td.balance {
	text-align: right;
	padding-right: 0.5em !important;
}
th.name {
	white-space: nowrap;
}

#secondary {
	float: left;
	clear: left;
}
#logo {
	float: right;
	height: 3.5em;
	overflow: hidden;
}
#top {
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	padding: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
}
#menu {
	float: right;
}
#menu li {
	display: inline;
	padding-left: 0.5em;
}
#debug {
	text-align: left;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	padding: 0.5em;
	margin-top: 0.5em;
}
#debug td {
	text-align: left;
}

tfoot img {
	vertical-align: bottom;
	width: 3em;
	height: 1em;
}

.evenrow {
	background: #eee;
}

.blacklisted td {
	padding: 0;
	background: #000;
}
.blacklisted .balance {
	background: transparent;
	color: #A10000;
}

.blacklisted img {
	vertical-align: middle;
	height: 1.2em;
	width: 100%;
	margin: 0;
}

.hidden {
	display: none;
}

@page {
	size: landscape;
}

@media print {
	.noprint, #debug {
		display: none;
	}
	body {
		padding: 0;
	}
}
