body {
	padding: 2px;
}
h1 {
	font-size: 200%;
	float: left;
}

a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

table {
	width: 100%;
	clear: both;
}

thead {
	display: table-header-group
}
tfoot {
	display: table-footer-group;
}

thead th {
	padding: 2px 5px;
	font-weight: bolder;
	text-align: center;
}

tbody th, tfoot th, td {
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	padding: 2px;
}

tbody {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	display: table-row-group;
}

tbody td.double {
	border-bottom-style: dashed;
}

tfoot td {
	border: 0;
	text-align: left;
}

td {
	text-align: center;
	height: 1.6em;
}
td.balance {
	text-align: right;
	padding-right: 0.5em !important;
}

#secondary {
	float: left;
	clear: left;
}
#logo {
	float: right;
	height: 3.5em;
	overflow: hidden;
}
#reminder {
	font-weight: bold;
	text-align: center;
}
#top {
	background: #eeeeec;
	border-bottom: 1px dashed gray;
	margin: -2px; /* counter padding on body */
	margin-bottom: 0.3em;
	padding: 0.3em;
}
#admin {
	float: right;
}
#admin a {
	text-decoration: underline;
}
#print {
	float: left;
}

tfoot img {
	vertical-align: text-bottom;
	width: 3em;
	height: 1em;
}

.evenrow {
	background: #eee;
}

.blacklisted td {
	padding: 0;
	background: #000;
}
.blacklisted .balance {
	background: transparent;
	color: #A10000;
}

.blacklisted img {
	vertical-align: middle;
	height: 1.2em;
	width: 100%;
	margin: 0;
}

.hidden {
	display: none;
}

@page {
	size: landscape;
}

@media print {
	.noprint, #debug {
		display: none;
	}
}
