body {
	padding: 2px;
}
h1 {
	font-size: 200%;
	float: left;
}

a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

table {
	width: 100%;
	clear: both;
}

thead th {
	padding: 2px 5px;
	font-weight: bolder;
	text-align: center;
}

tbody th, tfoot th, td {
	border: 1px solid gray;
	padding: 2px;
}

tfoot td {
	border: 0;
	text-align: left;
}

td {
	text-align: center;
}

#secondary {
	float: left;
	clear: left;
}
#logo {
	float: right;
	height: 3.5em;
	overflow: hidden;
}


tfoot img {
	vertical-align: middle;
	width: 3em;
	height: 3px
}

.even {
	background: #eee;
}

.blacklisted td {
	padding-left:0;
	padding-right: 0;
}
.blacklisted .balance {
	background: transparent;
	color: #A10000;
}

.blacklisted img {
	vertical-align: middle;
	height: 3px;
	width: 100%;
}

.hidden {
	display: none;
}

@page {
	size: landscape;
}
