body {
	font-size: 12px;
	padding: 2px;
	font-family: sans-serif;
}
h1 {
	font-size: 150%;
	font-weight: bolder;
	float: left;
}

table {
	width: 100%;
	clear: both;
}

thead th {
	padding: 2px 5px;
	font-weight: bolder;
	text-align: center;
}

tbody th, tfoot th, td {
	border: 1px solid gray;
	padding: 2px;
}

p.date {
	float: right;
}

p img {
	vertical-align: middle;
	width: 3em;
	height: 3px
}

.even {
	background: #eee;
}

.blacklisted {
	text-decoration: line-through;
}

.blacklisted td {
	padding-left:0;
	padding-right: 0;
}
.blacklisted img {
	vertical-align: middle;
	height: 3px;
	width: 100%;
}

.name {
	font-size: smaller;
}

.tiny {
	width: 2%;
}

.small {
	width: 5%;
}

.medium {
	width: 10%;
}

.large {
	width: 20%;
}

td.balance {
	text-align: center;
}

@page {
	size: landscape;
}
