{% load webdesign %}
<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ITK Microfinance System - {% block title %}Foo Bar{% endblock %}</title>
        <link rel="stylesheet" type="text/css"
            href="{% url media "style/reset-min.css" %}" />
        <link rel="stylesheet" type="text/css"
            href="{% url media "style/base.css" %}" />
        <script type="text/javascript" src="{% url media "js/menu.js" %}">
            </script>
</head>

<body onload="menulist">

<div id="container">

<h1 style="background: url({% url media "images/logo.png" %}) top right no-repeat;">
ITK Microfinance System<br />
{% block header %}Foo Bar{% endblock %}</h1>

<div id="menu">
{% block menu %}
<ul id="menulist">
    <li><a href="#">Top-level 1</a>
        <ul>
            <li><a href="#">Sub-level A</a></li>
            <li><a href="#">Sub-level B</a></li>
        </ul>
    </li>
    <li><a href="#">Top-level 2</a></li>
    <li class="admin"><a href="#">Top-level 3</a></li>
</ul>
{% endblock %}
</div>

<div id="content">
{% block content %}
<h2>Header 2</h2>
{% lorem 2 p %}
<h3>Header 3</h3>
{% lorem 2 p %}
{% endblock %}
</div>

<div id="footer">
{% block footer %}
ITK Microfinance System (µFS) v1.0-pre
<span>&gt;&gt;</span>
Help? <a href="mailto:itk-ufs@samfundet.no">itk-ufs@samfundet.no</a>
{% endblock %}
</div>

</div>

</body>

</html>
