{% load i18n webdesign %}<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>µFS - {% block title %}Foo Bar{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% url media "style/reset-min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% url media "style/fonts-min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% url media "style/base.css" %}" />
        <link rel="shortcut icon" type="image/png" href="{% url media "images/favicon.png" %}" />
        <script type="text/javascript" src="{% url jsi18n %}"></script>
        <script type="text/javascript" src="{% url media "js/ufs.js" %}"></script>
        {% block extrahead %}{% endblock %}

</head>
<body>

<div id="container">

<h1 id="head" style="background: url({% url media "images/logo.png" %}) top right no-repeat;">
{% trans "&micro;FS Microfinance System" %}</h1>

<div id="menu">
{% block menu %}
<ul id="menulist">
    <li><a href="{% url account-summary request.session.my_account.group.slug,request.session.my_account.slug %}">{% trans "My account" %}</a>
        {% ifnotequal request.user.account_set.count 0 %}
        {% ifnotequal request.user.account_set.count 1 %}
    <ul>
    {% for account in request.user.account_set.all %}
        <li><a href="{% url account-summary account.group.slug,account.slug %}">{{ account.group.name }}</a></li>
    {% endfor %}
    </ul>
    {% endifnotequal %}
    {% endifnotequal %}
    </li>
{% if is_admin %}
    <li class="admin">
      <a href="{% url group-summary request.session.my_account.group.slug %}">
        {% trans "Admin" %}{% if group.not_payed_transaction_set.count %}*{% endif %}
      </a>
    </li>
{% endif %}
    <li id="help"><a href="{% url help request.session.my_account.group.slug %}">{% trans "Help" %}</a></li>
</ul>
{% endblock %}
</div>

<div id="content">
<h1>{% block header %}Foo Bar{% endblock %}</h1>

{% if messages %}
<ul id="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
<h2>Header 2</h2>
{% lorem 2 p %}
<h3>Header 3</h3>
{% lorem 2 p %}
{% endblock %}
</div>

<div id="footer">
{% block footer %}
µFS v1.0-&alpha;{{ BZRREV }}

<span>&bull;</span>
{% trans "User:" %} {{ user.username }}

{% if group.email %}
<span>&bull;</span>
{% trans "Contact:" %}
<a href="mailto:{{group.email}}">{{group.email}}</a>
{% endif %}

<span>&bull;</span>
<form action="{% url django.views.i18n.set_language %}" method="post">
<div style="display: inline;">
{% trans "Language:" %}
<select name="language">
    {% for lang in LANGUAGES %}
    <option value="{{ lang.0 }}"{% ifequal lang.0 request.LANGUAGE_CODE %} selected="selected"{% endifequal %}>
            {% trans lang.1 %}</option>
    {% endfor %}
</select>
<button type="submit">{% trans "Go" %}</button>
</div>
</form>

{% endblock %}
</div>

</div>

{% if debug %}
{% include "debug.html" %}
{% endif %}

</body>

</html>
