{% load i18n webdesign %}<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}µFS{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% url media "style/reset-fonts-grids.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% url media "style/base.css" %}" />
        <link rel="shortcut icon" type="image/png" href="{% url media "images/favicon.png" %}" />
        <script type="text/javascript" src="{% url jsi18n %}"></script>
        <script type="text/javascript" src="{% url media "js/prototype.js" %}"></script>
        <script type="text/javascript" src="{% url media "js/ufs.js" %}"></script>
        {% block extrahead %}{% endblock %}
</head>

<body>

<div id="doc3" class="yui-t2">
    <div id="hd">

<h1 style="background: url({% url media "images/logo.png" %}) top left no-repeat;">
{% trans "&micro;FS Microfinance System" %}
</h1>

    </div>
    <div id="bc">
        {% block breadcrumbs %}µFS{% endblock %}
    </div>
    <div id="bd">
        <div id="yui-main">
            <div class="yui-b">
                <div class="yui-g">

<h2>{% block header %}Foo Bar{% endblock %}</h2>

{% if messages %}
<ul id="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="content">
{% block content %}
<h2>Header 2</h2>
{% lorem 2 p %}
<h3>Header 3</h3>
{% lorem 2 p %}
{% endblock %}
</div>

                </div>
            </div>
        </div>
        <div class="yui-b">

<div id="menu">

<h2>Menu</h2>

{% block menu %}

<ul class="menulist" id="mainmenu">
    <li>
        {% if request.session.my_account %}
            <a href="{% url account-summary request.session.my_account.group.slug,request.session.my_account.slug %}">
        {% trans "My account" %}</a>
        {% else %}
            {% trans "My account" %}
        {% endif %}
    </li>

    <li>
        {% if request.session.my_account %}
            <a href="{% url group-summary request.session.my_account.group.slug %}">
            {% trans "My group" %}{% if is_admin and group.not_payed_transaction_set.count %}*{% endif %}</a>
        {% else %}
            {% trans "My group" %}
        {% endif %}
    </li>

    <li id="help">
        <a href="/help/">
        {% trans "Help" %}</a>
    </li>
</ul>

<div id="submenu">
{% block submenu %}{% endblock %}
</div>

<div id="helptips">
{% block helptips %}{% endblock %}
</div>

{% endblock %}
</div>

        </div>
    </div>
    <div id="ft">

{% block footer %}
µFS v1.0-&beta;

<span>&bull;</span>
{% trans "User:" %} {{ user.username }}

{% ifnotequal request.user.account_set.count 0 %}
{% ifnotequal request.user.account_set.count 1 %}
<span>&bull;</span>
<form action="{% url switch-group %}" method="post">
<div style="display: inline;">
{% trans "Group:" %}
<select name="group">
    {% for account in request.user.account_set.all %}
    <option value="{{ account.group.slug }}"{% ifequal account.group.slug request.session.my_account.group.slug %} selected="selected"{% endifequal %}>
            {{ account.group }}</option>
    {% endfor %}
</select>
<button type="submit">{% trans "Go" %}</button>
</div>
</form>
{% endifnotequal %}
{% endifnotequal %}

{% if group.email %}
<span>&bull;</span>
{% trans "Contact:" %}
<a href="mailto:{{ group.email }}">{{ group.email }}</a>
{% endif %}

<span>&bull;</span>
<form action="{% url django.views.i18n.set_language %}" method="post">
<div style="display: inline;">
{% trans "Language:" %}
<select name="language">
    {% for lang in LANGUAGES %}
    <option value="{{ lang.0 }}"{% ifequal lang.0 request.LANGUAGE_CODE %} selected="selected"{% endifequal %}>
            {% trans lang.1 %}</option>
    {% endfor %}
</select>
<button type="submit">{% trans "Go" %}</button>
</div>
</form>

{% endblock %}

    </div>
</div>

</body>

</html>
