<div id="debug">
<p>
Debug: {{ sql_queries|length }} quer{{ sql_queries|pluralize:"y,ies" }}
{% ifnotequal sql_queries|length 0 %}
(<span style="cursor: pointer; text-decoration: underline;" onclick="var s=document.getElementById('query_table').style; s.display=s.display=='none' ? '' : 'none'; this.innerHTML=this.innerHTML=='show' ? 'hide' : 'show';">show</span>)
{% endifnotequal %}
</p>

<table id="query_table" style="display: none;">
    <caption>Database queries</caption>
    <thead>
        <tr>
          <th>#</th>
          <th>Query</th>
          <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for query in sql_queries %}
        <tr class="{% cycle oddrow,evenrow %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ query.sql|escape }}</td>
            <td>{{ query.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
